:root {
    // Colors
    --primary: #8989d0;
    --accent: #5a5aa7;
    --text: #111827;
    --white: white;
    --error: #B4241A;
    
    // Index
    --index: calc(1vw + 1vh);

    // Fonts
    --light: 'GilroyLight';
    --regular: 'GilroyRegular';
    --medium: 'GilroyMedium';
    --bold: 'GilroyBold';
    --semibold: 'GilroySemiBold';
    --extrabold: 'GilroyExtraBold';

    // Transition
    --transition: .25s cubic-bezier(.2, .5, 0, 1);

    // Box-shadow
    --box-shadow: 0 4px 8px 0 rgba(113, 128, 150, .08), 0 0 1px 0 rgba(113, 128, 150, .04);
}

// Indent
$min-indent: 3rem;
$max-indent: 6rem;

// settings for include-media module
$xss: 420px;
$xs: 578px;
$sm: 768px;
$md: 992px;
$lg: 1280px;
$xl: 1480px;

$breakpoints: (
    'xxs': $xss,
    'xs': $xs,
    'sm': $sm,
    'md': $md,
    'lg': $lg,
    'xl': $xl ) !default;
$unit-intervals: (
    'px': 0.5,
    'em': 0.01,
    'rem': 0.05) !default;

// scss-slamp
$slamp_options: (
    'root-size': 10px,
    'min': 578px,
    'max': 1480px
);