.breadcrumbs {
    @include media('<md') {
        order: 2;
    }
    
    &__list {
        margin: 0;
        padding: 0;
        &-item {
            position: relative;
            display: inline-block;
            margin: 0 r(40) 0 0;
            font-size: r(15);
            line-height: 120%;
            &::after {
                content: '';
                position: absolute;
                top: calc(50% - 5px);
                right: -21px;
                width: 6px;
                height: 12px;
                background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 12.5L6.5 6.5L0.500001 0.5' stroke='%23A4A4A4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-size: contain;
            }
            &:last-child {
                margin: 0;
                &::after {
                    display: none;
                }
            }
        }

        &-link {
            color: var(--gray-text);
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: var(--hover);
            }
        }

        span {
            color: var(--gray);
        }
    }

    &--white {
        .breadcrumbs {
            &__list {
                a, span {
                    color: #F8FEFF;
                }
            }
        }
    }
}
