.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: slamp(r(5), r(10));
    width: max-content;
    padding: slamp(r(15), r(20)) slamp(r(30), r(35));
    cursor: pointer;
    @include font(1.4rem, 1.6rem, var(--semibold), 100%);
    text-align: center;
    text-decoration: none;
    border-radius: r(20);
    transition: .25s;
    will-change: transform;
    user-select: none;

    &--primary {
        color: var(--white);
        background: var(--primary);

        &:hover {
            background: var(--accent);
        }
    }

    &--trans {
        border: .12rem solid var(--primary);

        &:hover {
            color: var(--white);
            border-color: var(--accent);
            background: var(--accent);
        }
    }

    img {
        max-width: calc(var(--index) * 2);
        height: auto;
        -webkit-user-drag: none;
    }

    &:active {
        transform: scale(.925);
    }
}
