$default-width: 136rem;

$padding-min-x: 1.6rem;
$padding-max-x: 4.8rem;

$padding-min-y: 3.2rem;
$padding-max-y: 4.8rem;

$scrollbar-gap: .8rem;

$modal-gap: 12rem;
$modal-margin-top: 5rem;

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    backdrop-filter: blur(10.6px);
    background: rgba(224, 223, 218, 0.6);
    z-index: 1010;

    &--opened {
        display: flex;
    }

    &--p0 {
        .modal__wrapper, .modal__content {
            padding: 0;
        }
    }

    &--bg-none {
        .modal__wrapper {
            background: none;
        }
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -1.2rem;
        right: 0;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        cursor: pointer;
        background-color: var(--white);
        transition: .25s;
        transform: translate(100%, -100%);
        
        svg {
            @include sprite-size(2rem, 2rem);

            use {
                stroke-linecap: round;
                stroke: var(--primary);
                transition: .25s;
            }
        }

        &:hover {
            background-color: var(--text);
            
            svg use {
                stroke: var(--white);
            }
        }

        @include media('<1480px') {
            transform: translate(0, -100%);
        }
    }

    &__wrapper {
        position: relative;
        max-width: $default-width;
        width: 100%;
        max-height: calc(100vh - $modal-gap);
        margin: $modal-margin-top 0 0;
        border-radius: slamp(2rem, 4rem);
        background: var(--white);
        padding: slamp($padding-min-y, $padding-max-y) 0;
        padding-right: $scrollbar-gap;
    }

    &__content {
        overflow-y: auto;
        overscroll-behavior: none;
        position: relative;
        width: 100%;
        max-height: calc(100vh - $modal-gap - calc(slamp($padding-min-y, $padding-max-y) * 2));
        padding-left: slamp($padding-min-x, $padding-max-x);
        padding-right: calc(slamp($padding-min-x, $padding-max-x) - $scrollbar-gap);
        @include scrollbar(var(--border));
    }

    iframe {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}