:root {
    --swiper-theme-color: #05B5CC;
}

.swiper-arrows {
    position: relative;
    user-select: none;

    &__prev, &__next {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        background: var(--primary) no-repeat center / 50%;
        transition: background .25s;

        &:hover {
            background-color: var(--primary);
        }
    }

    &__prev {
        transform: rotate(180deg);
    }

    @include media('<sm') {
        &__prev, &__next {
            width: 32px;
            height: 32px;

            &::after {
                display: none;
            }
        }
    }
}

.swiper-arrows-prev,
.swiper-arrows-next {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: r(56);
    height: r(56);
    border-radius: 50%;
    background: var(--primary);
    transition: .25s;
    user-select: none;
    z-index: 100;

    @include media('<xs') {
        width: r(32);
        height: r(32);
    }

    svg {
        width: 40%;
        height: 40%;

        use {
            stroke: var(--white);
        }
    }

    &.swiper-button-disabled {
        pointer-events: none;
        background: var(--gray-text);
    }

    &:not(&.swiper-button-disabled):hover {
        background: var(--hover);
    }
}

.swiper-arrows-prev {
    transform: rotate(-180deg);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: auto;

    .swiper-pagination-bullet {
        background: var(--text);
        width: 10px;
        height: 10px;
        opacity: 1;
        transition: .25s;

        &-active {
            background: var(--primary);
        }

        @include media('<sm') {
            width: 5px;
            height: 5px;
            margin: 0 3px;
        }
    }
}