.slider {
    position: relative;

    &__items {
        overflow: visible;
    }

    &__item {
        position: relative;
        padding: 20px;
        box-shadow: 0px 12px 56px 0px rgba(6, 28, 61, 0.12);
        transition: .25s;
        opacity: 0;
        pointer-events: none;
    }

    .swiper-slide-active,
    .swiper-slide-prev,
    .swiper-slide-next {
        opacity: 1;
        pointer-events: all;
    }

    @include swiper-arrows(6rem, 0, calc(50% - 2rem));

    .swiper-pagination {
        // display: none;
        margin: 1.5rem 0 0;
    }

    @include media('<lg') {
        .swiper-slide-prev {
            opacity: 0;
            pointer-events: none;
        }
    }

    @include media('<sm') {

        .swiper-arrows-prev,
        .swiper-arrows-next {
            display: none;
        }

        .swiper-slide-next {
            opacity: 0;
            pointer-events: none;
        }

        .swiper-pagination {
            display: inline-block;
        }
    }
}