.main {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: var(--primary);
        filter: brightness(0.92);
        opacity: .5;
        z-index: 1;
    }

    &::after {
        backdrop-filter: blur(4px);
        background: rgba(255, 255, 255, 0.01);
        opacity: 1;
        z-index: 5;
    }

    .container {
        position: relative;
        min-height: slamp(r(460), r(555));
        padding-top: slamp(r(32), r(56));
        padding-bottom: slamp(r(32), r(56));
        z-index: 10;
    }

    &--v2 {
        .container {
            display: flex;
            flex-direction: column;
            min-height: r(786);
            padding-bottom: 0;

            @include media('<sm') {
                padding-bottom: r(20);
            }
        }
    }

    &__description {
        margin: r(16) 0 0;
        font-size: slamp(r(14), r(24));
        line-height: 120%;
    }
    
    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: r(24);
        margin: slamp(r(40), r(100), $xxs, $sm) 0 0;

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }

        &-icon {
            max-width: r(115);
            max-height: slamp(r(50), r(96), $xxs, $sm);
            height: auto;
            object-fit: contain;
        }

        &-text {
            display: block;
            margin: slamp(r(10), r(32)) 0 0;
            font-size: slamp(r(14), r(24));
            line-height: 120%;
            font-weight: 600;

            @include media('<xs') {
                font-weight: 400;
            }
        }

        &--v2 {
            display: flex;
            align-items: center;
            gap: r(24) r(48);
            margin: r(40) 0;

            @include media('<sm') {
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: r(40);
                border-bottom: 1px solid var(--white);
            }

            .main {
                &__list {
                    &-item {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: r(10);

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: r(-24);
                            height: r(44);
                            border-right: 1px solid var(--white);

                            @include media('<sm') {
                                display: none;
                            }
                        }

                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                    }
                    
                    &-icon {
                        max-width: r(48);
                    }

                    &-text {
                        width: max-content;
                        margin: 0;
                        font-weight: 400;
                        font-size: slamp(r(14), r(16));

                        @include media('<md') {
                            width: auto;
                            max-width: r(252);
                        }
                    }
                }
            }
        }
    }

    &__where-used {
        margin-top: auto;
    }
}

.where-used {
    &__label {
        margin: 0 0 slamp(r(16), r(24));
        font-size: slamp(r(16), r(24));
        font-weight: 600;
    }
    
    &__items {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: r(10);

        @include media('<sm') {
            display: block;
        }
    }

    &__item {
        display: block;
        padding: r(24);
        cursor: pointer;
        text-decoration: none;
        color: var(--white);
        background: transparent;
        transition: .3s;

        @include media('<md') {
            padding: r(16);
        }

        @include media('<sm') {
            padding: 0;
            margin: 0 0 slamp(r(20), r(28), $xxs, $sm);
        }

        @include media('>=sm') {
            &:hover {
                background: var(--primary);
            }
        
            &:hover &-link {
                opacity: 1;
            }
        }
        
        &-icon {
            height: r(90);
            width: auto;
            max-width: r(140);
            object-fit: contain;
            filter: brightness(1) grayscale(1);
            filter: contrast(2) grayscale(3) brightness(3);

            @include media('<md') {
                height: r(60);
                max-width: r(100);
            }

            @include media('<sm') {
                height: r(50);
                max-width: r(80);
            }
        }

        &-text {
            max-width: r(340);
            margin: r(24) 0 0;
            font-size: slamp(r(14), r(16));

            @include media('<sm') {
                margin: slamp(r(8), r(16), $xxs, $sm) 0 0;
            }
        }

        &-link {
            margin: r(16) 0 0;
            font-weight: 600;
            font-size: r(16);
            text-decoration: underline;
            text-decoration-skip-ink: none;
            opacity: 0;
            transition: opacity .3s;

            @include media('<sm') {
                display: none;
            }
        }
    }
}

.main-directions {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: r(20);
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<md') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__item {
        &-imgbox {
            overflow: hidden;
            display: block;
            position: relative;
            border-radius: r(8);
        }
        
        &-img {
            max-width: 100%;
            width: 100%;
            border-radius: r(8);
            transition: transform .3s;

            &:hover {
                transform: scale(1.08);
            }
        }

        &-title {
            margin: slamp(r(16), r(24)) 0 0;
            font-size: slamp(r(20), r(24));
            font-weight: 600;
            line-height: 120%;
        }

        &-text {
            max-width: r(365);
            margin: r(16) 0 0;
            font-size: slamp(r(14), r(16));
            line-height: 140%;
            color: var(--gray);
        }
    }
}

.steps {
    background: var(--white);

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(20);
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
            gap: r(15);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: r(20);

        @include media('<sm') {
            gap: r(15);
        }
    }

    &__item {
        padding: slamp(r(16), r(24));
        border-radius: r(8);
        background: var(--accent);

        &-num {
            width: max-content;
            margin: 0 0 r(8);
            padding: r(4) r(8);
            border-radius: r(3);
            font-size: r(12);
            line-height: 100%;
            background: var(--white);
        }

        &-head {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: r(12);

            &:hover {
                .steps {
                    &__item {
                        &-arrow {
                            background: var(--hover);
                        }
                    }
                }
            }
        }

        &-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: r(40);
            height: r(40);
            border-radius: r(4);
            cursor: pointer;
            transition: .3s;
            background: var(--primary);

            @include media('<xs') {
                width: r(32);
                height: r(32);
            }

            svg {
                @include sprite-size(r(8), r(16));
                transition: transform .3s;

                use {
                    stroke: var(--white);
                }
            }
        }

        &-title {
            font-size: slamp(r(20), r(24));
            font-weight: 600;
            line-height: 120%;
            padding-right: r(50);
        }

        &-text {
            max-width: r(474);
            padding: slamp(r(20), r(32)) 0 0;
            font-size: slamp(r(14), r(16));
            line-height: 140%;
            opacity: .6;
        }
    }
}

.target-block {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(20);

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__content, &__form {
        padding: slamp(r(40), r(56)) slamp(r(16), r(40));
        border-radius: r(8);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: r(435);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: var(--white);
    }

    &__title, &__form-title {
        font-size: slamp(r(24), r(40));
        font-weight: 600;
        line-height: 120%;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: r(16) r(20);
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<xs') {
            flex-direction: column;
            align-items: flex-start;
        }

        &-item {
            padding: r(8) r(16);
            font-size: slamp(r(14), r(16));
            line-height: 120%;
            color: var(--text);
            border-radius: r(4);
            background: var(--white);
        }
    }

    &__btn {
        margin-top: auto;
    }

    &__form {
        background: var(--white);

        &-subtitle {
            margin: r(16) 0 0;
            font-size: slamp(r(14), r(16));
            line-height: 120%;
            color: var(--gray);
        }

        &-box {
            margin: slamp(r(24), r(40)) 0 0;
        }
    }
}

.main-advantages {
    background: var(--white);

    &__items {
        display: grid;
        grid-template-columns: minmax(0, 1fr) r(484);
        gap: r(20);
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<md') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: r(20);

    }

    &__column:last-child &__item:last-child {
        padding-bottom: slamp(r(230), r(280), $xxs, $md);
        
        &::before {
            content: '';
            position: absolute;
            top: r(250);
            right: 0;
            left: 0;
            bottom: 0;
            border-radius: r(8);
            background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 0.6) 100%);
            z-index: 1;
        }
    }

    &__item {
        position: relative;
        height: 100%;
        padding: r(24) r(24) r(40);
        border-radius: r(8);
        background: var(--bg);

        &-icon, &-title, &-text {
            position: relative;
            z-index: 10;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: r(48);
            height: r(48);
            margin: 0 0 r(24);
            border-radius: r(4);
            background: var(--primary);

            img {
                max-height: r(20);
                height: auto;
                width: auto;
                object-fit: contain;
            }

            @include media('<xs') {
                width: r(32);
                height: r(32);

                img {
                    max-height: r(12);
                }
            }
        }

        &-title {
            font-size: slamp(r(20), r(24));
            font-weight: 600;
            line-height: 120%;
        }

        &-text {
            max-width: r(876);
            font-size: slamp(r(14), r(16));
            line-height: 140%;
            opacity: .6;

            p {
                margin-bottom: slamp(r(16), r(24));
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &-img {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: r(470);
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

.seo-block {
    background: var(--white);

    &__title {
        margin: 0 0 slamp(r(24), r(40));
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(24) r(40);
        margin-bottom: r(32);

        @include media('<md') {
            grid-template-columns: minmax(0, 1fr);
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h3, h4 {
        margin-bottom: r(16);
        font-size: slamp(r(20), r(24));
        line-height: 120%;
    }

    p, ul, ol {
        margin: 0 0 slamp(r(16), r(24));
        font-size: slamp(r(14), r(16));
        line-height: 140%;
        opacity: .6;

        &:last-of-type {
            margin: 0;
        }
    }
}