.tank-solutions {
    background: var(--white);

    @include media('<xs') {
        padding-top: 0;
        background: var(--bg);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<xs') {
            display: flex;
            flex-direction: column;
            gap: r(10);
        }
    }

    &__item {
        cursor: pointer;
        padding: slamp(r(16), r(24), $sm, $lg);

        @include media('>=xs') {
            border-right: 1px solid var(--gray-text);
            border-bottom: 1px solid var(--gray-text);
        }

        @include media('<xs') {
            text-align: center;
            padding: r(12) r(16);
            border-radius: r(4);
            background: var(--white);

            &.active {
                background: var(--primary);
            }
        }

        &:last-child {
            border-right: 0;
        }
        
        &-icon {
            max-width: slamp(r(80), r(130));
            width: auto;
            height: auto;
            max-height: slamp(r(60), r(88));

            &box {
                display: flex;
                align-items: center;
                height: r(88);

                @include media('<sm') {
                    display: none;
                }
            }
        }

        &-title {
            margin: r(24) 0 0;
            font-size: slamp(r(14), r(16));
            line-height: 130%;
            transition: .3s;

            @include media('<sm') {
                margin: 0;
            }
        }

        @include media('>=xs') {
            &:hover {
                color: var(--primary);
            }
        }

        &.active {
            color: var(--primary);

            @include media('<xs') {
                color: var(--white);
            }
        }
    }

    &__content {
        display: none;
        margin: slamp(r(40), r(80)) 0 0;

        &.active {
            display: block;
        }

        &-label {
            margin: 0 0 r(16);
            font-weight: 600;
            font-size: slamp(r(20), r(24));
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: r(6);
            
            &-item {
                color: var(--primary);
                font-weight: 600;
                font-size: slamp(r(14), r(16));
                text-transform: uppercase;
            }
        }

        &-text {
            margin: slamp(r(20), r(30)) 0 0;
            font-size: slamp(r(14), r(16));
            text-align: justify;
            opacity: .6;

            p {
                margin-top: 0;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.system-composition {
    background: var(--white);

    @include media('<xs') {
        padding-bottom: slamp($min-indent, $max-indent);
        background: var(--bg);
    }

    &__head {
        @include media('>=lg') {
            display: grid;
            grid-template-columns: slamp(r(360), r(483), $md, $lg) minmax(0, 1fr);
            gap: r(30) slamp(r(30), r(50));
        }
    }
    
    &__tabs {
        @include media('<lg') {
            margin: slamp(r(24), r(40)) 0 0
        }
    }

    &__block {
        display: none;
        
        &.active {
            display: block;
        }
    }
    
    &__img {
        max-width: r(483);
        width: 100%;
        height: auto;
        border-radius: r(8);
        object-fit: cover;

        @include media('<xs') {
            max-width: 100%;
        }
    }
    
    &__grid, &__grid2 {
        display: grid;
        grid-template-columns: slamp(r(360), r(483), $md, $lg) repeat(2, minmax(0, 1fr));
        gap: r(30) slamp(r(30), r(50));
        margin: slamp(r(24), r(40)) 0 0;
    }

    &__grid {
        grid-template-columns: slamp(r(360), r(483), $md, $lg) minmax(0, 1fr);
        
        @include media('<md', '>=xs') {
            grid-template-columns: minmax(0, 1fr);
            gap: r(30) r(10);
        }

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__grid2 {
        @include media('<lg', '>=md') {
            .system-composition {
                &__column {
                    &:last-child {
                        grid-column: 2 / 6;
                    }
                }
            }
        }
        
        @include media('<md', '>=xs') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: r(30) r(10);
        }

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
            gap: r(30);
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: r(30);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: r(30);
    }

    &__content {
        font-size: slamp(r(14), r(16));
        text-align: justify;
        opacity: .6;
    }

    &__subtitle {
        margin: slamp(r(40), r(56)) 0 0;
        font-size: slamp(r(24), r(40));
        font-weight: 600;
        line-height: 120%;
    }

    .icon-text {
        &__title {
            max-width: r(300);
        }
        
        &__img {
            width: slamp(r(60), r(94));
        }
    }
}

.icon-text {
    display: flex;
    align-items: center;
    gap: r(20);

    &__img {
        width: r(94);
        height: auto;
        object-fit: contain;

        @include media('<xs') {
            width: slamp(r(58), r(94), $xxs, $xs);
        }
    }

    &__title {
        max-width: r(342);
        font-size: slamp(r(14), r(16));
        line-height: 120%;
    }
}