.directions-section {
    &__categories {
        margin: slamp(r(24), r(40)) 0 0;
    }

    &__items {
        display: none;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(20);
        margin: r(32) 0 0;

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
        }

        &.active {
            display: grid;
        }

        @include media('<xs') {
            gap: r(16);
        }
    }
}

.tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: slamp(r(10), r(20));

    &__item {
        font-size: slamp(r(16), r(24));
        font-weight: 600;
        line-height: 120%;
        border: 1px solid var(--gray-text);
        border-radius: r(4);
        cursor: pointer;
        color: var(--text);
        background: transparent;
        transition: .3s;

        &:hover {
            border-color: var(--primary);
            color: var(--primary);
        }
        
        &-link {
            display: block;
            padding: slamp(r(12), r(16)) slamp(r(32), r(48));
            color: currentColor;
            text-decoration: none;
            transition: .3s;
        }

        &.active {
            border-color: var(--primary);
            background: var(--primary);
        }

        &.active &-link {
            color: var(--white);
        }
    }
}

.direction-card {
    display: flex;
    flex-direction: column;
    border-radius: r(8);
    color: var(--text);
    text-decoration: none;
    background: var(--white);
    transition: .33s;

    &__img {
        max-width: 100%;
        width: 100%;
        height: slamp(r(260), r(300), $xxs, $xs);
        object-fit: cover;
        transition: transform .33s;
        will-change: transform;

        &-box {
            overflow: hidden;
            border-radius: r(8) r(8) 0 0;
        }
    }

    &__content {
        padding: r(24) slamp(r(16), r(24));
    }

    &__title {
        font-size: slamp(r(20), r(24));
        font-weight: 600;
        line-height: 120%;
    }

    &__text {
        margin: r(16) 0 0;
        font-size: slamp(r(14), r(16));
        line-height: 140%;
        color: var(--gray);
    }

    &__subtext {
        margin: r(24) 0 0;
        color: var(--primary);
        text-transform: uppercase;
    }
    
    @include media('>=xs') {
        &:hover {
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .05);

            .direction-card {
                &__img {
                    transform: scale(1.06);
                }
            }
        }
    }
}