.directions-section {
    &__categories {
        margin: slamp(r(24), r(40)) 0 0;
    }

    &__items {
        display: none;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(20);
        margin: r(32) 0 0;

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
        }

        &.active {
            display: grid;
        }

        @include media('<xs') {
            gap: r(16);
        }
    }
}

.tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: slamp(r(10), r(20));

    &__item {
        font-size: slamp(r(16), r(24));
        font-weight: 600;
        line-height: 120%;
        border: 1px solid var(--gray-text);
        border-radius: r(4);
        cursor: pointer;
        color: var(--text);
        background: transparent;
        transition: .3s;

        &:hover {
            border-color: var(--primary);
            color: var(--primary);
        }
        
        &-link {
            display: block;
            padding: slamp(r(12), r(16)) slamp(r(32), r(48));
            color: currentColor;
            text-decoration: none;
            transition: .3s;
        }

        &.active {
            border-color: var(--primary);
            background: var(--primary);
        }

        &.active &-link {
            color: var(--white);
        }
    }
}

.direction-card {
    display: flex;
    flex-direction: column;
    border-radius: r(8);
    color: var(--text);
    text-decoration: none;
    background: var(--white);
    transition: .33s;

    &__img {
        max-width: 100%;
        width: 100%;
        height: slamp(r(260), r(300), $xxs, $xs);
        object-fit: cover;
        transition: transform .33s;
        will-change: transform;

        &-box {
            overflow: hidden;
            border-radius: r(8) r(8) 0 0;
        }
    }

    &__content {
        padding: r(24) slamp(r(16), r(24));
    }

    &__title {
        font-size: slamp(r(20), r(24));
        font-weight: 600;
        line-height: 120%;
    }

    &__text {
        margin: r(16) 0 0;
        font-size: slamp(r(14), r(16));
        line-height: 140%;
        color: var(--gray);
    }

    &__subtext {
        margin: r(24) 0 0;
        color: var(--primary);
        text-transform: uppercase;
    }
    
    @include media('>=xs') {
        &:hover {
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .05);

            .direction-card {
                &__img {
                    transform: scale(1.06);
                }
            }
        }
    }
}

.materials {
    &__title {
        max-width: r(1090);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: r(20);
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<sm') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: slamp(r(16), r(24));
        text-decoration: none;
        color: var(--text);
        
        &-img {
            max-width: 100%;
            width: 100%;
            height: slamp(r(200), r(236), $xxs, $xs);
            object-fit: cover;
            border-radius: r(8);
        }

        &-title {
            max-width: r(390);
            font-size: slamp(r(20), r(24));
            font-weight: 600;
            line-height: 120%;
        }
    }
}

.faq {
    background: var(--white);

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(20);
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
            gap: r(15);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: r(20);

        @include media('<sm') {
            gap: r(15);
        }
    }

    &__item {
        padding: slamp(r(16), r(24));
        border-radius: r(8);
        background: var(--bg);

        &-num {
            width: max-content;
            margin: 0 0 r(8);
            padding: r(4) r(8);
            border-radius: r(3);
            font-size: r(12);
            line-height: 100%;
            background: var(--white);
        }

        &-head {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: r(12);

            &:hover {
                .faq {
                    &__item {
                        &-arrow {
                            background: var(--hover);
                        }
                    }
                }
            }
        }

        &-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: r(40);
            height: r(40);
            border-radius: r(4);
            cursor: pointer;
            transition: .3s;
            background: var(--primary);

            @include media('<xs') {
                width: r(32);
                height: r(32);
            }

            svg {
                @include sprite-size(r(8), r(16));
                transition: transform .3s;

                use {
                    stroke: var(--white);
                }
            }
        }

        &-title {
            font-size: slamp(r(20), r(24));
            font-weight: 600;
            line-height: 120%;
            padding-right: r(50);
        }

        &-text {
            max-width: r(640);
            padding: slamp(r(20), r(32)) 0 0;
            font-size: slamp(r(14), r(16));
            line-height: 140%;
            opacity: .6;

            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.target-block2 {
    &__inner {
        display: grid;
        grid-template-columns: minmax(0, 1fr) slamp(r(350), r(700), $sm, $lg);
        gap: r(40) r(20);

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        border-radius: r(8);
        object-fit: cover;

        &-box {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    &__form {
        &-subtitle {
            margin: slamp(r(16), r(24)) 0 0;
            font-size: slamp(r(16), r(24));
            font-weight: 600;
            line-height: 120%;
        }

        &-box {
            margin: slamp(r(24), r(40)) 0 0;
            
            @include media('>=sm') {
                padding-right: r(30);
            }
        }

        .input, .textarea {
            height: r(60);
            border-radius: r(8);
            border-color: var(--border);
            background: var(--white);
        }

        .textarea {
            min-height: r(140);
        }

        .field {
            &--flex {
                justify-content: space-between;
            }
        }
    }
}

.anothers-directions {
    overflow: hidden;
    background: var(--white);
}

.directions-slider {
    position: relative;
    margin: slamp(r(24), r(40)) 0 0;

    @include media('<sm') {
        width: calc(100% + r(15));
    }

    &__items {
        @include media('<sm') {
            overflow: visible;
        }
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        gap: slamp(r(16), r(24));
        text-decoration: none;
        color: var(--text);

        &:hover .directions-slider__title {
            color: var(--primary);
        }
    }
    
    &__img {
        max-width: 100%;
        width: 100%;
        height: r(236);
        object-fit: cover;
        border-radius: r(8);
    }

    &__title {
        font-size: slamp(r(20), r(24));
        font-weight: 600;
        line-height: 120%;
        transition: .3s;
    }

    .swiper-arrows-next, .swiper-arrows-prev {
        position: absolute;
        top: r(90);

        @include media('<xs') {
            top: r(100);
        }
    }

    .swiper-arrows-next {
        right: r(-28);

        @include media('<lg') {
            right: r(-10);
        }

        @include media('<sm') {
            right: r(5);
        }
    }

    .swiper-arrows-prev {
        left: r(-28);

        @include media('<lg') {
            left: r(-10);
        }
    }
}