.tank-solutions {
    background: var(--white);

    @include media('<xs') {
        padding-top: 0;
        background: var(--bg);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<xs') {
            display: flex;
            flex-direction: column;
            gap: r(10);
        }
    }

    &__item {
        cursor: pointer;
        padding: slamp(r(16), r(24), $sm, $lg);

        @include media('>=xs') {
            border-right: 1px solid var(--gray-text);
            border-bottom: 1px solid var(--gray-text);
        }

        @include media('<xs') {
            text-align: center;
            padding: r(12) r(16);
            border-radius: r(4);
            background: var(--white);

            &.active {
                background: var(--primary);
            }
        }

        &:last-child {
            border-right: 0;
        }
        
        &-icon {
            max-width: slamp(r(80), r(130));
            width: auto;
            height: auto;
            max-height: slamp(r(60), r(88));

            &box {
                display: flex;
                align-items: center;
                height: r(88);

                @include media('<sm') {
                    display: none;
                }
            }
        }

        &-title {
            margin: r(24) 0 0;
            font-size: slamp(r(14), r(16));
            line-height: 130%;
            transition: .3s;

            @include media('<sm') {
                margin: 0;
            }
        }

        @include media('>=xs') {
            &:hover {
                color: var(--primary);
            }
        }

        &.active {
            color: var(--primary);

            @include media('<xs') {
                color: var(--white);
            }
        }
    }

    &__content {
        display: none;
        margin: slamp(r(40), r(80)) 0 0;

        &.active {
            display: block;
        }

        &-label {
            margin: 0 0 r(16);
            font-weight: 600;
            font-size: slamp(r(20), r(24));
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: r(6);
            
            &-item {
                color: var(--primary);
                font-weight: 600;
                font-size: slamp(r(14), r(16));
                text-transform: uppercase;
            }
        }

        &-text {
            margin: slamp(r(20), r(30)) 0 0;
            font-size: slamp(r(14), r(16));
            text-align: justify;
            opacity: .6;

            p {
                margin-top: 0;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.system-composition {
    background: var(--white);

    @include media('<xs') {
        padding-bottom: 0;
        background: var(--bg);
    }

    &__head {
        @include media('>=lg') {
            display: grid;
            grid-template-columns: slamp(r(360), r(483), $md, $lg) minmax(0, 1fr);
            gap: r(30) slamp(r(30), r(50));
        }
    }
    
    &__tabs {
        @include media('<lg') {
            margin: slamp(r(24), r(40)) 0 0
        }

        @include media('<xs') {
            display: none;
        }
    }

    &__select {
        display: none;

        @include media('<xs') {
            display: block;
            margin: r(24) 0 0;
        }
    }

    &__block {
        display: none;
        
        &.active {
            display: block;
        }
    }
    
    &__img {
        max-width: r(483);
        width: 100%;
        height: auto;
        border-radius: r(8);
        object-fit: cover;

        @include media('<xs') {
            max-width: 100%;
        }
    }
    
    &__grid, &__grid2 {
        display: grid;
        grid-template-columns: slamp(r(360), r(483), $md, $lg) repeat(2, minmax(0, 1fr));
        gap: r(30) slamp(r(30), r(50));
        margin: slamp(r(24), r(40)) 0 0;
    }

    &__grid {
        grid-template-columns: slamp(r(360), r(483), $md, $lg) minmax(0, 1fr);
        
        @include media('<md', '>=xs') {
            grid-template-columns: minmax(0, 1fr);
            gap: r(30) r(10);
        }

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__grid2 {
        @include media('<lg', '>=md') {
            .system-composition {
                &__column {
                    &:last-child {
                        grid-column: 2 / 6;
                    }
                }
            }
        }
        
        @include media('<md', '>=xs') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: r(30) r(10);
        }

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
            gap: r(30);
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: r(30);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: r(30);
    }

    &__content {
        font-size: slamp(r(14), r(16));
        text-align: justify;
        opacity: .6;

        &:not(.opened) {
            @include dots-line(4);
        }
    }

    &__show-more {
        width: max-content;
    }

    &__subtitle {
        margin: slamp(r(40), r(56)) 0 0;
        font-size: slamp(r(24), r(40));
        font-weight: 600;
        line-height: 120%;
    }

    .icon-text {
        &__title {
            max-width: r(300);
        }
        
        &__img {
            width: slamp(r(60), r(94));
        }
    }
}

.icon-text {
    display: flex;
    align-items: center;
    gap: r(20);

    &__img {
        width: r(94);
        height: auto;
        object-fit: contain;

        @include media('<xs') {
            width: slamp(r(58), r(94), $xxs, $xs);
        }
    }

    &__title {
        max-width: r(342);
        font-size: slamp(r(14), r(16));
        line-height: 120%;
    }
}

.form-section {
    background: var(--bg);

    &__inner {
        padding: r(40) slamp(r(16), r(40));
        border-radius: r(8);
        background: var(--white);
    }

    &__subtitle {
        margin: slamp(r(16), r(24)) 0 0;
        font-size: slamp(r(14), r(16));
        line-height: 130%;
        opacity: .6;
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)) r(317);
        gap: r(16) r(20);
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<md', '>=xs') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: r(16);

            .field {
                &:last-of-type {
                    grid-column: 1 / 3;
                }
            }
        }

        @include media('<xs') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    .field {
        margin: 0;
    }

    &__btn {
        width: 100%;
    }

    &__agreement {
        margin: r(16) 0 0;
    }
}

.objects-section {
    overflow: hidden;
    
    &__tabs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: r(16) r(20);
        margin: slamp(r(24), r(40)) 0 0;

        @include media('<md') {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        
        &-item {
            cursor: pointer;
            text-transform: uppercase;
            color: var(--gray-text);
            font-size: r(16);
            font-weight: 600;
            
            &.active {
                color: var(--primary);
            }
        }
    }
    
    .objects-slider {
        position: relative;
        display: none;
        margin: r(24) 0 0;

        &.active {
            display: block;
        }
    }
}

.objects-slider {
    @include media('<sm') {
        width: calc(100% + r(15));
    }

    &__items {
        @include media('<sm') {
            overflow: visible;
        }
    }
    
    .swiper-arrows-next, .swiper-arrows-prev {
        position: absolute;
        top: r(90);

        @include media('<xs') {
            top: r(100);
        }
    }

    .swiper-arrows-next {
        right: r(-28);

        @include media('<lg') {
            right: r(-10);
        }

        @include media('<sm') {
            right: r(5);
        }
    }

    .swiper-arrows-prev {
        left: r(-28);

        @include media('<lg') {
            left: r(-10);
        }
    }
}

.about-us {
    background: var(--white);

    &__inner {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 28%);
        gap: r(40);
        margin: r(24) 0 0;

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__content {
        max-width: r(846);
        font-size: slamp(r(14), r(16));
        line-height: 130%;
        opacity: .6;

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__info {
        &-title {
            font-weight: 600;
            font-size: slamp(r(20), r(24));
            line-height: 130%;
        }
        
        &-btn {
            max-width: r(160);
            margin: r(16) 0 0;
        }
    }

    &__documents {
        margin: slamp(r(40), r(56)) 0 0;
    }
}

.documents-block {
    &__tabs {
        display: flex;
        align-items: center;
        gap: slamp(r(50), r(100));
        margin: r(24) 0 0;

        @include media('<sm') {
            flex-direction: column;
            align-items: flex-start;
            gap: r(16);
        }

        &-item {
            cursor: pointer;
            text-transform: uppercase;
            color: var(--gray-text);
            font-size: r(16);
            font-weight: 600;
            
            &.active {
                color: var(--primary);
            }
        }
    }

    &__items {
        display: none;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: r(32) r(40);
        margin: r(16) 0 0;
        padding: slamp(r(24), r(40));
        border-radius: r(8);
        background: var(--accent);

        &.active {
            display: grid;
        }

        @include media('<md') {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            margin-top: r(24);
        }

        @include media('<xs') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: r(24) r(16);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: r(12);
        text-decoration: none;
        color: var(--text);

        &-icon {
            max-width: r(26);
            width: 100%;
            height: auto;
            filter: grayscale(2) brightness(0);
            transition: .3s;
        }

        &-text {
            font-weight: 600;
            font-size: slamp(r(14), r(16));
            line-height: 130%;
            color: currentColor;
            transition: .3s;
        }

        &:hover {
            color: var(--primary);
        }

        &:hover &-icon {
            filter: none;
        }
    }
}

.tech-chars {
    &__block {
        display: none;
        margin-top: slamp(r(24), r(40));

        &.active {
            display: block;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        td {
            padding: r(14) slamp(r(16), r(24));
            border-right: 1px solid var(--gray-text);
            border-bottom: 1px solid var(--gray-text);
            font-size: slamp(r(14), r(16));
            opacity: .6;

            &:first-of-type {
                border-left: 1px solid var(--gray-text);
            }
        }
        
        tr {
            &:first-of-type {
                td {
                    border-top: 1px solid var(--gray-text);
                }
            }
        }
    }
}