{% set title = "Главная" %}
{% extends "layouts/main.njk" %}

{% block content %}

<section class="head-page">
    <div class="head-page__container container">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Главная</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Каталог</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Гидроизоляционные материалы</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <span class="breadcrumbs__list-link">Полимерные системы ГИПЕРДЕСМО®</span>
                </li>
            </ul>
        </div>

        <div class="search-box">
            <input type="text" class="search-box__input" placeholder="Поиск" name="q">
            <button type="submit" class="search-box__submit">
                <svg><use href="/src/assets/img/svg-sprite/sprite.svg#search"></use></svg>
            </button>
        </div>
    </div>
</section>

<section class="main mb-indent" style="background-image: url('/src/assets/img/image1.webp');">
    <div class="container">
        <div class="main__title title">
            <h1>Готовые решения</h1>
        </div>

        <div class="main__description">Предлагаем вашему вниманию готовые решения для:</div>
        
        <div class="main__list">
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon1.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Строительных организаций и&nbsp;частных лиц</span>
            </div>
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon2.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Проектировщиков</span>
            </div>
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon3.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Эксплуатирующих организаций</span>
            </div>
        </div>
    </div>
</section>

<section class="main-directions p-indent">
    <div class="container">
        <div class="main-directions__title title">
            <h2>Выбрать направление работ</h2>
        </div>

        <div class="main-directions__items">
            <div class="main-directions__item">
                <a href="#" class="main-directions__item-imgbox">
                    <img class="main-directions__item-img" src="/src/assets/img/image2.webp" loading="lazy" alt="Image">
                </a>
                <div class="main-directions__item-title">Герметизация</div>
                <div class="main-directions__item-text">Окон, швов, стыков</div>
            </div>
            <div class="main-directions__item">
                <a href="#" class="main-directions__item-imgbox">
                    <img class="main-directions__item-img" src="/src/assets/img/image3.webp" loading="lazy" alt="Image">
                </a>
                <div class="main-directions__item-title">Гидроизоляция</div>
                <div class="main-directions__item-text">На кровле, в бассейне, в резервуарах, ванных комнатах. А также на объектах траспортного строительства и фундаментах</div>
            </div>
            <div class="main-directions__item">
                <a href="#" class="main-directions__item-imgbox">
                    <img class="main-directions__item-img" src="/src/assets/img/image4.webp" loading="lazy" alt="Image">
                </a>
                <div class="main-directions__item-title">Защита / ремонт / восстановление</div>
                <div class="main-directions__item-text">Полов, террас, деревянных конструкций</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}