{% set title = "Гидроизоляция резервуаров!" %}
{% extends "layouts/main.njk" %}

{% block content %}

<section class="head-page">
    <div class="head-page__container container">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Главная</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Каталог</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Гидроизоляционные материалы</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <span class="breadcrumbs__list-link">Гидроизоляция резервуаров</span>
                </li>
            </ul>
        </div>

        <div class="search-box">
            <input type="text" class="search-box__input" placeholder="Поиск" name="q">
            <button type="submit" class="search-box__submit">
                <svg>
                    <use href="/src/assets/img/svg-sprite/sprite.svg#search"></use>
                </svg>
            </button>
        </div>
    </div>
</section>

<section class="main" style="background-image: url('/src/assets/img/image1.webp');">
    <div class="container">
        <div class="main__title title">
            <h1>Готовые решения</h1>
        </div>

        <div class="main__description">Предлагаем вашему вниманию готовые решения для:</div>

        <div class="main__list">
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon1.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Строительных организаций и&nbsp;частных лиц</span>
            </div>
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon2.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Проектировщиков</span>
            </div>
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon3.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Эксплуатирующих организаций</span>
            </div>
        </div>
    </div>
</section>

<section class="steps p-indent">
    <div class="container">
        <div class="steps__title title">
            <h2>6 шагов к решению вашей задачи</h2>
        </div>

        <div class="steps__inner">
            <div class="steps__column">
                <div class="steps__item slide-down opened">
                    <div class="steps__item-num">Шаг 1</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Первичная консультация</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 2</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Выездная диагностика и точный замер</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 3</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Техническое решение и понятная цена</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
            </div>
            <div class="steps__column">
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 4</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Организация процесса поставки материалов</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 5</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Качественное выполнение работ</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 6</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Строительный контроль и приемка работ</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="target-block p-indent">
    <div class="container">
        <div class="target-block__inner">
            <div class="target-block__content" style="background-image: url('/src/assets/img/image5.webp');">
                <div class="target-block__title">Приглашаем к&nbsp;сотрудничеству!</div>
                <ul class="target-block__list">
                    <li class="target-block__list-item">Диллеров</li>
                    <li class="target-block__list-item">Магазины</li>
                    <li class="target-block__list-item">Строительные организации</li>
                </ul>
                <button class="target-block__btn btn btn--primary">Стать парнёром</button>
            </div>
            <form class="target-block__form">
                <div class="target-block__form-title">Позвоните нам или оставьте свой телефон</div>
                <div class="target-block__form-subtitle">Мы свяжемся с Вами в ближайшее время и поможем решить Вашу задачу</div>

                <div class="target-block__form-box">
                    <div class="field">
                        <input type="text" class="input" name="name" placeholder="Ваше имя">
                    </div>
                    <div class="field">
                        <input type="tel" class="input" name="phone" placeholder="+7 (999) 999-99-99">
                    </div>
                    <div class="field field--flex">
                        <button class="target-block__form-submit btn btn--primary">Отправить</button>

                        <div class="form-agreement">
                            <div class="checkbox-field">
                                <input type="checkbox" name="policy" checked class="checkbox-field__input">
                                <div class="checkbox-field__box active"></div>
                                <div class="checkbox-field__label">Отправляя данную форму, вы даете свое согласие на обработку персональных данных и согласны с политикой
                                конфиденциальности</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="tank-solutions p-indent">
    <div class="container">
        <div class="tank-solutions__title title">
            <h2>Решения для резервуаров</h2>
        </div>

        <div class="tank-solutions__items">
            <div class="tank-solutions__item">
                <div class="tank-solutions__item-iconbox">
                    <img class="tank-solutions__item-icon" src="/src/assets/img/svg/icon7.svg" loading="lazy" alt="Icon">
                </div>
                <div class="tank-solutions__item-title">Резервуары для воды, из бетона, стали и др. материалов</div>
            </div>
            <div class="tank-solutions__item">
                <div class="tank-solutions__item-iconbox">
                    <img class="tank-solutions__item-icon" src="/src/assets/img/svg/icon9.svg" loading="lazy" alt="Icon">
                </div>
                <div class="tank-solutions__item-title">Резервуары для воды, из бетона, стали и др. материалов</div>
            </div>
            <div class="tank-solutions__item">
                <div class="tank-solutions__item-iconbox">
                    <img class="tank-solutions__item-icon" src="/src/assets/img/svg/icon8.svg" loading="lazy" alt="Icon">
                </div>
                <div class="tank-solutions__item-title">Резервуары для воды, из бетона, стали и др. материалов</div>
            </div>
            <div class="tank-solutions__item">
                <div class="tank-solutions__item-iconbox">
                    <img class="tank-solutions__item-icon" src="/src/assets/img/svg/icon10.svg" loading="lazy" alt="Icon">
                </div>
                <div class="tank-solutions__item-title">Резервуары для воды, из бетона, стали и др. материалов</div>
            </div>
        </div>
    </div>
</section>

<section class="system-composition p-indent">
    <ul class="container">
        <div class="system-composition__title title">
            <h2>Состав системы</h2>
        </div>

        <ul class="system-composition__tabs tabs tabs--small">
            <li class="tabs__item active" data-tab="1">
                <span class="tabs__item-link">Резервуар с закрытой гидроизоляцией</span>
            </li>
            <li class="tabs__item" data-tab="2">
                <span class="tabs__item-link">Резервуар с открытой гидроизоляцией</span>
            </li>
        </ul>

        <div class="system-composition__block active" data-block="1">
            <div class="system-composition__grid">
                <div class="system-composition__column">
                    <img class="system-composition__img" src="/src/assets/img/image17.webp" loading="lazy" alt="Image">
                </div>
                <div class="system-composition__column">
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon11.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Высокие механические и&nbsp;гидроизоляционные системы</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon13.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Долговечность</span>
                    </div>
                </div>
                <div class="system-composition__column">
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon12.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Высокая ремонтопригодность</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon14.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Ручной и механический способ нанесения</span>
                    </div>
                </div>
            </div>

            <div class="system-composition__subtitle">Основные свойства</div>
            
            <div class="system-composition__grid">
                <div class="system-composition__column">
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon11.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon13.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon13.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                        adipiscing</span>
                    </div>
                </div>
                <div class="system-composition__column">
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon12.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon14.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon14.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                        adipiscing</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="system-composition__block" data-block="2">
            <div class="system-composition__grid">
                <div class="system-composition__column">
                    <img class="system-composition__img" src="/src/assets/img/image5.webp" loading="lazy" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq p-indent">
    <div class="container">
        <div class="faq__title title">
            <h2>Часто задаваемые вопросы</h2>
        </div>

        <div class="faq__inner">

            <div class="faq__column">
                
                <div class="faq__item slide-down">
                    <div class="faq__item-head slide-down__head">
                        <div class="faq__item-title">Мастика для гидроизоляции пола</div>
                        <div class="faq__item-arrow slide-down__arrow">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="faq__item-content slide-down__content">
                        <div class="faq__item-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</p>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis.</p>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="faq__column">

                <div class="faq__item slide-down">
                    <div class="faq__item-head slide-down__head">
                        <div class="faq__item-title">Гидроизоляция цоколя дома</div>
                        <div class="faq__item-arrow slide-down__arrow">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="faq__item-content slide-down__content">
                        <div class="faq__item-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</p>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis.</p></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="target-block2 p-indent">
    <div class="container">
        <div class="target-block2__inner">
            <form class="target-block2__form">
                <div class="target-block2__form-title title">
                    <h2>Остались вопросы?</h2>
                </div>
                <div class="target-block2__form-subtitle">Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы</div>

                <div class="target-block2__form-box">
                    <div class="field">
                        <input type="text" class="input" name="name" placeholder="Имя">
                    </div>
                    <div class="field">
                        <input type="tel" class="input" name="phone" placeholder="Телефон">
                    </div>
                    <div class="field">
                        <input type="email" class="input" name="email" placeholder="Почта">
                    </div>
                    <div class="field">
                        <textarea class="textarea" name="message" placeholder="Комментарий"></textarea>
                    </div>
                    <div class="field field--flex">
                        <div class="form-agreement">
                            <div class="checkbox-field">
                                <input type="checkbox" name="policy" checked class="checkbox-field__input">
                                <div class="checkbox-field__box active"></div>
                                <div class="checkbox-field__label">Отправляя данную форму, вы даете свое согласие на обработку персональных данных и согласны с политикой
                                конфиденциальности</div>
                            </div>
                        </div>

                        <button class="target-block2__form-submit btn btn--primary">Отправить</button>
                    </div>
                </div>
            </form>

            <div class="target-block2__img-box">
                <img class="target-block2__img" src="/src/assets/img/image14.webp" loading="lazy" alt="Image">
            </div>
        </div>
    </div>
</section>

<section class="anothers-directions p-indent">
    <div class="container">
        <div class="anothers-directions__title title title--small">
            <h2>Другие направления раздела готовые решения</h2>
        </div>

        <div class="directions-slider">
            <div class="swiper-arrows-prev">
                <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
            </div>
            <div class="swiper-arrows-next">
                <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
            </div>
            <div class="swiper directions-slider__items">
                <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide directions-slider__item">
                        <img class="directions-slider__img" src="/src/assets/img/image15.webp" loading="lazy" alt="Image">
                        <div class="swiper-lazy-preloader"></div>
                        <div class="directions-slider__title">Герметизация</div>
                    </a>
                    <a href="#" class="swiper-slide directions-slider__item">
                        <img class="directions-slider__img" src="/src/assets/img/image16.webp" loading="lazy" alt="Image">
                        <div class="swiper-lazy-preloader"></div>
                        <div class="directions-slider__title">Восстановление и защита</div>
                    </a>
                    <a href="#" class="swiper-slide directions-slider__item">
                        <img class="directions-slider__img" src="/src/assets/img/image15.webp" loading="lazy" alt="Image">
                        <div class="swiper-lazy-preloader"></div>
                        <div class="directions-slider__title">Герметизация</div>
                    </a>
                    <a href="#" class="swiper-slide directions-slider__item">
                        <img class="directions-slider__img" src="/src/assets/img/image16.webp" loading="lazy" alt="Image">
                        <div class="swiper-lazy-preloader"></div>
                        <div class="directions-slider__title">Восстановление и защита</div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% endblock %}