{% set title = "Гидроизоляция резервуаров!" %}
{% extends "layouts/main.njk" %}

{% block content %}

<section class="head-page">
    <div class="head-page__container container">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Главная</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Каталог</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="/" class="breadcrumbs__list-link">Гидроизоляционные материалы</a>
                </li>
                <li class="breadcrumbs__list-item">
                    <span class="breadcrumbs__list-link">Гидроизоляция резервуаров</span>
                </li>
            </ul>
        </div>

        <div class="search-box">
            <input type="text" class="search-box__input" placeholder="Поиск" name="q">
            <button type="submit" class="search-box__submit">
                <svg>
                    <use href="/src/assets/img/svg-sprite/sprite.svg#search"></use>
                </svg>
            </button>
        </div>
    </div>

    <div class="container">
        <a href="/page2.html" class="backlink">
            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
            <span>назад в гидроизоляцию</span>
        </a>
    </div>
</section>

<ul class="fixed-nav">
    <li class="fixed-nav__item">
        <a href="#main" class="fixed-nav__item-link active"><span>Главная</span></a>
    </li>
    <li class="fixed-nav__item">
        <a href="#steps" class="fixed-nav__item-link"><span>6 шагов</span></a>
    </li>
    <li class="fixed-nav__item">
        <a href="#tank-solutions" class="fixed-nav__item-link"><span>Решения для резервуаров</span></a>
    </li>
    <li class="fixed-nav__item">
        <a href="#composition" class="fixed-nav__item-link"><span>Состав системы</span></a>
    </li>
    <li class="fixed-nav__item">
        <a href="#objects" class="fixed-nav__item-link"><span>Объекты</span></a>
    </li>
    <li class="fixed-nav__item">
        <a href="#about-us" class="fixed-nav__item-link"><span>О компании</span></a>
    </li>
    <li class="fixed-nav__item">
        <a href="#documents" class="fixed-nav__item-link"><span>Документы</span></a>
    </li>
    <li class="fixed-nav__item">
        <a href="#tech-chars" class="fixed-nav__item-link"><span>Тех характеристики</span></a>
    </li>
    <li class="fixed-nav__item">
        <a href="#faq" class="fixed-nav__item-link"><span>FAQ</span></a>
    </li>
</ul>

<section class="main main--v2" id="main" style="background-image: url('/src/assets/img/image18.webp');">
    <div class="main__container container">
        <div class="main__title title">
            <h1>Гидроизоляция резервуаров</h1>
        </div>

        <div class="main__description">Системы по гидроизоляции резервуаров для:</div>

        <div class="main__list main__list--v2">
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon1.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Строительных организаций <br>и&nbsp;частных лиц</span>
            </div>
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon2.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Проектировщиков</span>
            </div>
            <div class="main__list-item">
                <img class="main__list-icon" src="/src/assets/img/svg/icon3.svg" loading="lazy" alt="Icon">
                <span class="main__list-text">Эксплуатирующих организаций</span>
            </div>
        </div>

        <div class="main__where-used where-used">
            <div class="where-used__label">Где применяется продукт:</div>
            <div class="where-used__items">
                <a href="#tank-solutions" class="where-used__item" data-tab="1">
                    <img class="where-used__item-icon" src="/src/assets/img/icon1.webp" loading="lazy" alt="">
                    <div class="where-used__item-text">Резервуары для воды, из бетона, стали и др. материалов</div>
                    <div class="where-used__item-link">Подробнее</div>
                </a>
                <a href="#tank-solutions" class="where-used__item" data-tab="2">
                    <img class="where-used__item-icon" src="/src/assets/img/icon2.webp" loading="lazy" alt="">
                    <div class="where-used__item-text">Сборные резервуары из бетона</div>
                    <div class="where-used__item-link">Подробнее</div>
                </a>
                <a href="#tank-solutions" class="where-used__item" data-tab="3">
                    <img class="where-used__item-icon" src="/src/assets/img/icon3.webp" loading="lazy" alt="">
                    <div class="where-used__item-text">Резервуары для питьевой воды</div>
                    <div class="where-used__item-link">Подробнее</div>
                </a>
                <a href="#tank-solutions" class="where-used__item" data-tab="4">
                    <img class="where-used__item-icon" src="/src/assets/img/icon4.webp" loading="lazy" alt="">
                    <div class="where-used__item-text">Резервуары с высоким уровнем возможной деформации</div>
                    <div class="where-used__item-link">Подробнее</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="steps p-indent" id="steps">
    <div class="container">
        <div class="steps__title title">
            <h2>6 шагов к решению вашей задачи</h2>
        </div>

        <div class="steps__inner">
            <div class="steps__column">
                <div class="steps__item slide-down opened">
                    <div class="steps__item-num">Шаг 1</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Первичная консультация</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 2</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Выездная диагностика и точный замер</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 3</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Техническое решение и понятная цена</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
            </div>
            <div class="steps__column">
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 4</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Организация процесса поставки материалов</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 5</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Качественное выполнение работ</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
                <div class="steps__item slide-down">
                    <div class="steps__item-num">Шаг 6</div>
                    <div class="steps__item-head slide-down__head">
                        <div class="steps__item-title">Строительный контроль и приемка работ</div>
                        <div class="steps__item-arrow slide-down__arrow">
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                        </div>
                    </div>
                    <div class="steps__item-content slide-down__content">
                        <div class="steps__item-text">Возможно, мы не первые, кому вы позвонили, и каждый рассказывает Вам что-то своё. Вместе с Вами мы попытаемся
                        разобраться и подобрать лучшее решение.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="target-block p-indent">
    <div class="container">
        <div class="target-block__inner">
            <div class="target-block__content" style="background-image: url('/src/assets/img/image5.webp');">
                <div class="target-block__title">Приглашаем к&nbsp;сотрудничеству!</div>
                <ul class="target-block__list">
                    <li class="target-block__list-item">Диллеров</li>
                    <li class="target-block__list-item">Магазины</li>
                    <li class="target-block__list-item">Строительные организации</li>
                </ul>
                <button class="target-block__btn btn btn--primary">Стать парнёром</button>
            </div>
            <form class="target-block__form">
                <div class="target-block__form-title">Позвоните нам или оставьте свой телефон</div>
                <div class="target-block__form-subtitle">Мы свяжемся с Вами в ближайшее время и поможем решить Вашу задачу</div>

                <div class="target-block__form-box">
                    <div class="field">
                        <input type="text" class="input" name="name" placeholder="Ваше имя">
                    </div>
                    <div class="field">
                        <input type="tel" class="input" name="phone" placeholder="+7 (999) 999-99-99">
                    </div>
                    <div class="field field--flex">
                        <button class="target-block__form-submit btn btn--primary">Отправить</button>

                        <div class="form-agreement">
                            <div class="checkbox-field">
                                <input type="checkbox" name="policy" checked class="checkbox-field__input">
                                <div class="checkbox-field__box active"></div>
                                <div class="checkbox-field__label">Отправляя данную форму, вы даете свое согласие на обработку персональных данных и согласны с политикой
                                конфиденциальности</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="tank-solutions p-indent" id="tank-solutions">
    <div class="container">
        <div class="tank-solutions__title title">
            <h2>Решения для резервуаров</h2>
        </div>

        <div class="tank-solutions__items">
            <div class="tank-solutions__item active" data-tab="1">
                <div class="tank-solutions__item-iconbox">
                    <img class="tank-solutions__item-icon" src="/src/assets/img/icon1.webp" loading="lazy" alt="Icon">
                </div>
                <div class="tank-solutions__item-title">Резервуары для воды, из бетона, стали и др. материалов</div>
            </div>
            <div class="tank-solutions__item" data-tab="2">
                <div class="tank-solutions__item-iconbox">
                    <img class="tank-solutions__item-icon" src="/src/assets/img/icon2.webp" loading="lazy" alt="Icon">
                </div>
                <div class="tank-solutions__item-title">Сборные резервуары из бетона</div>
            </div>
            <div class="tank-solutions__item" data-tab="3">
                <div class="tank-solutions__item-iconbox">
                    <img class="tank-solutions__item-icon" src="/src/assets/img/icon3.webp" loading="lazy" alt="Icon">
                </div>
                <div class="tank-solutions__item-title">Резервуары для питьевой воды</div>
            </div>
            <div class="tank-solutions__item" data-tab="4">
                <div class="tank-solutions__item-iconbox">
                    <img class="tank-solutions__item-icon" src="/src/assets/img/icon4.webp" loading="lazy" alt="Icon">
                </div>
                <div class="tank-solutions__item-title">Резервуары с высоким уровнем возможной деформации</div>
            </div>
        </div>

        <div class="tank-solutions__content active" data-block="1">
            <div class="tank-solutions__content-label">Подходят системы:</div>
            <div class="tank-solutions__content-list">
                <a href="#composition" class="tank-solutions__content-list-item" data-system="1">Резервуар с закрытой гидроизоляцией</a>
                <a href="#composition" class="tank-solutions__content-list-item" data-system="2">Резервуар с открытой гидроизоляцией</a>
            </div>
            <div class="tank-solutions__content-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis.</p>
            </div>
        </div>

        <div class="tank-solutions__content" data-block="2">
            <div class="tank-solutions__content-label">Подходят системы:</div>
            <div class="tank-solutions__content-list">
                <a href="#composition" class="tank-solutions__content-list-item" data-system="1">Резервуар с закрытой гидроизоляцией</a>
                <a href="#composition" class="tank-solutions__content-list-item" data-system="2">Резервуар с открытой гидроизоляцией</a>
            </div>
            <div class="tank-solutions__content-text">
                <p>Сборные резервуары из бетона. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis 2.</p>
            </div>
        </div>

        <div class="tank-solutions__content" data-block="3">
            <div class="tank-solutions__content-label">Подходят системы:</div>
            <div class="tank-solutions__content-list">
                <a href="#composition" class="tank-solutions__content-list-item" data-system="1">Резервуар с закрытой гидроизоляцией</a>
                <a href="#composition" class="tank-solutions__content-list-item" data-system="2">Резервуар с открытой гидроизоляцией</a>
            </div>
            <div class="tank-solutions__content-text">
                <p>Резервуары для питьевой воды. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis 3.</p>
            </div>
        </div>

        <div class="tank-solutions__content" data-block="4">
            <div class="tank-solutions__content-label">Подходят системы:</div>
            <div class="tank-solutions__content-list">
                <a href="#composition" class="tank-solutions__content-list-item" data-system="1">Резервуар с закрытой гидроизоляцией</a>
                <a href="#composition" class="tank-solutions__content-list-item" data-system="2">Резервуар с открытой гидроизоляцией</a>
            </div>
            <div class="tank-solutions__content-text">
                <p>Резервуары с высоким уровнем возможной деформации. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis 4.</p>
            </div>
        </div>
    </div>
</section>

<section class="system-composition pb-indent" id="composition">
    <ul class="container">
        <div class="system-composition__head">
            <div class="system-composition__title title">
                <h2>Состав системы</h2>
            </div>
            
            <ul class="system-composition__tabs tabs tabs--small">
                <li class="tabs__item active" data-tab="1">
                    <span class="tabs__item-link">Резервуар с закрытой гидроизоляцией</span>
                </li>
                <li class="tabs__item" data-tab="2">
                    <span class="tabs__item-link">Резервуар с открытой гидроизоляцией</span>
                </li>
            </ul>

            <div class="system-composition__select itc-select composition-select">
                <!-- Кнопка для открытия выпадающего списка -->
                <button type="button" class="itc-select__toggle" name="composition" value="" data-select="toggle" data-index="-1">Резервуар с закрытой гидроизоляцией</button>
                <div class="itc-select__dropdown">
                    <ul class="itc-select__options">
                        <li class="itc-select__option" data-select="option" data-tab="1" data-index="0">Резервуар с закрытой гидроизоляцией</li>
                        <li class="itc-select__option" data-select="option" data-tab="2" data-index="1">Резервуар с открытой гидроизоляцией</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="system-composition__block active" data-block="1">
            <div class="system-composition__grid">
                <div class="system-composition__column">
                    <img class="system-composition__img" src="/src/assets/img/image17.webp" loading="lazy" alt="Image">
                </div>
                <div class="system-composition__column">
                    <div class="system-composition__info">
                        <div class="system-composition__info-item">
                            <div class="icon-text">
                                <img class="icon-text__img" src="/src/assets/img/svg/icon11.svg" loading="lazy" alt="Icon">
                                <span class="icon-text__title">Высокие механические и&nbsp;гидроизоляционные системы</span>
                            </div>
                            <div class="icon-text">
                                <img class="icon-text__img" src="/src/assets/img/svg/icon13.svg" loading="lazy" alt="Icon">
                                <span class="icon-text__title">Долговечность</span>
                            </div>
                        </div>
                        <div class="system-composition__info-item">
                            <div class="icon-text">
                                <img class="icon-text__img" src="/src/assets/img/svg/icon12.svg" loading="lazy" alt="Icon">
                                <span class="icon-text__title">Высокая ремонтопригодность</span>
                            </div>
                            <div class="icon-text">
                                <img class="icon-text__img" src="/src/assets/img/svg/icon14.svg" loading="lazy" alt="Icon">
                                <span class="icon-text__title">Ручной и механический способ нанесения</span>
                            </div>
                        </div>
                    </div>

                    <div class="system-composition__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis.
                    </div>

                    <div class="system-composition__show-more btn btn--primary">Раскрыть описание</div>
                </div>
            </div>

            <div class="system-composition__subtitle">Основные свойства</div>
            
            <div class="system-composition__grid2">
                <div class="system-composition__column">
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon11.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon13.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon13.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                        adipiscing</span>
                    </div>
                </div>
                <div class="system-composition__column">
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon12.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon14.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                    </div>
                    <div class="icon-text">
                        <img class="icon-text__img" src="/src/assets/img/svg/icon14.svg" loading="lazy" alt="Icon">
                        <span class="icon-text__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
                        adipiscing</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="system-composition__block" data-block="2">
            <div class="system-composition__grid">
                <div class="system-composition__column">
                    <img class="system-composition__img" src="/src/assets/img/image5.webp" loading="lazy" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form-section pt-indent">
    <div class="container">
        <div class="form-section__inner">
            <div class="form-section__title title title--small">
                <h2>Оставьте заявку для консультации по выбору системы</h2>
            </div>
            <div class="form-section__subtitle">Наш менеджер свяжется с вами в ближайшее время</div>

            <form class="form-section__form">
                <div class="field">
                    <input type="text" class="input required" required name="name" placeholder="Ваше имя">
                </div>
                <div class="field">
                    <input type="tel" class="input required" required name="phone" placeholder="+7 (999) 999-99-99">
                </div>
                <div class="field">
                    <button class="form-section__btn btn btn--primary send-form">Отправить</button>

                    <div class="form-section__agreement form-agreement">
                        <div class="checkbox-field">
                            <input type="checkbox" name="policy" checked="" class="checkbox-field__input">
                            <div class="checkbox-field__box active"></div>
                            <div class="checkbox-field__label">Отправляя данную форму, вы даете свое согласие на обработку персональных данных и согласны с политикой
                            конфиденциальности</div>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</section>

<section class="objects-section p-indent" id="objects">
    <div class="container">
        <div class="objects-section__title title">
            <h2>Объекты</h2>
        </div>

        <div class="objects-section__inner">
            <div class="objects-section__tabs">
                <div class="objects-section__tabs-item active" data-tab="1">Резервуар с закрытой гидроизоляцией</div>
                <div class="objects-section__tabs-item" data-tab="2">Резервуар с открытой гидроизоляцией</div>
            </div>

            <div class="objects-slider active" data-block="1">
                <div class="swiper-arrows-prev">
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                </div>
                <div class="swiper-arrows-next">
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                </div>
                <div class="swiper objects-slider__items">
                    <div class="swiper-wrapper">
                        <a href="#" class="swiper-slide directions-slider__item">
                            <img class="directions-slider__img" src="/src/assets/img/image18.webp" loading="lazy" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="directions-slider__title">Название объекта 1</div>
                        </a>
                        <a href="#" class="swiper-slide directions-slider__item">
                            <img class="directions-slider__img" src="/src/assets/img/image16.webp" loading="lazy" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="directions-slider__title">Название объекта 2</div>
                        </a>
                        <a href="#" class="swiper-slide directions-slider__item">
                            <img class="directions-slider__img" src="/src/assets/img/image15.webp" loading="lazy" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="directions-slider__title">Название объекта 3</div>
                        </a>
                        <a href="#" class="swiper-slide directions-slider__item">
                            <img class="directions-slider__img" src="/src/assets/img/image16.webp" loading="lazy" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="directions-slider__title">Название объекта 4</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="objects-slider" data-block="2">
                <div class="swiper-arrows-prev">
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                </div>
                <div class="swiper-arrows-next">
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
                </div>
                <div class="swiper objects-slider__items">
                    <div class="swiper-wrapper">
                        <a href="#" class="swiper-slide directions-slider__item">
                            <img class="directions-slider__img" src="/src/assets/img/image16.webp" loading="lazy" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="directions-slider__title">Название объекта 5</div>
                        </a>
                        <a href="#" class="swiper-slide directions-slider__item">
                            <img class="directions-slider__img" src="/src/assets/img/image15.webp" loading="lazy" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="directions-slider__title">Герметизация</div>
                        </a>
                        <a href="#" class="swiper-slide directions-slider__item">
                            <img class="directions-slider__img" src="/src/assets/img/image16.webp" loading="lazy" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="directions-slider__title">Восстановление и защита</div>
                        </a>
                        <a href="#" class="swiper-slide directions-slider__item">
                            <img class="directions-slider__img" src="/src/assets/img/image15.webp" loading="lazy" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="directions-slider__title">Герметизация</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="about-us p-indent" id="about-us">
    <div class="container">
        <div class="about-us__title title">
            <h2>О компании</h2>
        </div>

        <div class="about-us__inner">
            <div class="about-us__content">
                <p>Stroy-magazin.ru — официальный интернет-магазин корпорации «ТемпСтройСистема», работающей на строительном рынке с 1991
                года. Мы сочетаем более чем 30-летний опыт с собственным производством материалов и предлагаем комплексные решения пол
                ключ</p>
                <p>Наша экспертиза охватывает все виды гидроизоляции, герметизацию, устройство промышленных полов и&nbsp;усиление конструкции.
                Все материалы и технологии прошли проверку на сотнях объектов в России и странах СНІ что гарантирует надежность
                и соответствие самым строгим стандартам. Мы выстраиваем долгосрочные партнерские отношения. Предлагая клиентам не только
                качественную продукцию, но и полный спекто услуг — от поставок до реализации проектов любой сложности.</p>
            </div>

            <div class="about-us__info">
                <div class="about-us__info-title">Наши представители в&nbsp;регионах</div>
                <a href="#" class="about-us__info-btn btn btn--primary">посмотреть</a>
            </div>
        </div>

        <div class="about-us__documents documents-block" id="documents">
            <div class="documents-block__title title title--small">
                <h2>Документы</h2>
            </div>

            <div class="documents-block__tabs">
                <div class="documents-block__tabs-item active" data-tab="1">Резервуар с ГИПЕРДЕСМО®</div>
                <div class="documents-block__tabs-item" data-tab="2">Резервуар с ГИПЕРДЕСМО® 2кв</div>
            </div>

            <div class="documents-block__items active" data-block="1">
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа</div>
                </a>
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа в&nbsp;две строчки</div>
                </a>
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа Название документа в&nbsp;три строчки</div>
                </a>
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа</div>
                </a>
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа</div>
                </a>
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа</div>
                </a>
            </div>
            <div class="documents-block__items" data-block="2">
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа Название документа в&nbsp;три строчки</div>
                </a>
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа</div>
                </a>
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа</div>
                </a>
                <a href="#" class="documents-block__item">
                    <img src="/src/assets/img/svg/pdf.svg" class="documents-block__item-icon" loading="lazy" alt="PDF">
                    <div class="documents-block__item-text">Название документа</div>
                </a>
            </div>
        </div>
        
    </div>
</section>

<section class="tech-chars p-indent" id="tech-chars">
    <div class="container">
        <div class="tech-chars__title title">
            <h2>Технические характеристики</h2>
        </div>

        <div class="documents-block__tabs">
            <div class="documents-block__tabs-item active" data-tab="1">Резервуар с ГИПЕРДЕСМО®</div>
            <div class="documents-block__tabs-item" data-tab="2">Резервуар с ГИПЕРДЕСМО® 2кв</div>
        </div>

        <div class="tech-chars__block active" data-block="1">
            <table class="tech-chars__table">
                <tr>
                    <td>Температура эксплуатации</td>
                    <td>-60 - +90 °C</td>
                </tr>
                <tr>
                    <td>Твердость по ШорУ А</td>
                    <td> &gt; 70 ед.</td>
                </tr>
                <tr>
                    <td>Адгезия к бетону</td>
                    <td> &gt; 2 МПа</td>
                </tr>
                <tr>
                    <td>Водопоглощение через 10 суток</td>
                    <td>&lt; 1.5 %</td>
                </tr>
                <tr>
                    <td>Предел прочности при растяжении</td>
                    <td> &gt; 5.5 МПа</td>
                </tr>
                <tr>
                    <td>Относительное удлинение до разрыва</td>
                    <td> &gt; 500 %</td>
                </tr>
            </table>
        </div>

        <div class="tech-chars__block" data-block="2">
            <table class="tech-chars__table">
                <tr>
                    <td>Температура эксплуатации</td>
                    <td>-60 - +90 °C</td>
                </tr>
                <tr>
                    <td>Твердость по ШорУ А</td>
                    <td> &gt; 70 ед.</td>
                </tr>
            </table>
        </div>
        
    </div>
</section>

<section class="faq p-indent" id="faq">
    <div class="container">
        <div class="faq__title title">
            <h2>Часто задаваемые вопросы</h2>
        </div>

        <div class="faq__inner">

            <div class="faq__column">
                
                <div class="faq__item slide-down">
                    <div class="faq__item-head slide-down__head">
                        <div class="faq__item-title">Мастика для гидроизоляции пола</div>
                        <div class="faq__item-arrow slide-down__arrow">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="faq__item-content slide-down__content">
                        <div class="faq__item-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</p>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis.</p>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="faq__column">

                <div class="faq__item slide-down">
                    <div class="faq__item-head slide-down__head">
                        <div class="faq__item-title">Гидроизоляция цоколя дома</div>
                        <div class="faq__item-arrow slide-down__arrow">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="faq__item-content slide-down__content">
                        <div class="faq__item-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</p>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra mecenas accumsan lacus vel facilisis.</p></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="target-block2 p-indent">
    <div class="container">
        <div class="target-block2__inner">
            <form class="target-block2__form">
                <div class="target-block2__form-title title">
                    <h2>Остались вопросы?</h2>
                </div>
                <div class="target-block2__form-subtitle">Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы</div>

                <div class="target-block2__form-box">
                    <div class="field">
                        <input type="text" class="input" name="name" placeholder="Имя">
                    </div>
                    <div class="field">
                        <input type="tel" class="input" name="phone" placeholder="Телефон">
                    </div>
                    <div class="field">
                        <input type="email" class="input" name="email" placeholder="Почта">
                    </div>
                    <div class="field">
                        <textarea class="textarea" name="message" placeholder="Комментарий"></textarea>
                    </div>
                    <div class="field field--flex">
                        <div class="form-agreement">
                            <div class="checkbox-field">
                                <input type="checkbox" name="policy" checked class="checkbox-field__input">
                                <div class="checkbox-field__box active"></div>
                                <div class="checkbox-field__label">Отправляя данную форму, вы даете свое согласие на обработку персональных данных и согласны с политикой
                                конфиденциальности</div>
                            </div>
                        </div>

                        <button class="target-block2__form-submit btn btn--primary">Отправить</button>
                    </div>
                </div>
            </form>

            <div class="target-block2__img-box">
                <img class="target-block2__img" src="/src/assets/img/image14.webp" loading="lazy" alt="Image">
            </div>
        </div>
    </div>
</section>

<section class="anothers-directions p-indent">
    <div class="container">
        <div class="anothers-directions__title title title--small">
            <h2>Другие направления раздела готовые решения</h2>
        </div>

        <div class="directions-slider">
            <div class="swiper-arrows-prev">
                <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
            </div>
            <div class="swiper-arrows-next">
                <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow-right"></use></svg>
            </div>
            <div class="swiper directions-slider__items">
                <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide directions-slider__item">
                        <img class="directions-slider__img" src="/src/assets/img/image15.webp" loading="lazy" alt="Image">
                        <div class="swiper-lazy-preloader"></div>
                        <div class="directions-slider__title">Герметизация</div>
                    </a>
                    <a href="#" class="swiper-slide directions-slider__item">
                        <img class="directions-slider__img" src="/src/assets/img/image16.webp" loading="lazy" alt="Image">
                        <div class="swiper-lazy-preloader"></div>
                        <div class="directions-slider__title">Восстановление и защита</div>
                    </a>
                    <a href="#" class="swiper-slide directions-slider__item">
                        <img class="directions-slider__img" src="/src/assets/img/image15.webp" loading="lazy" alt="Image">
                        <div class="swiper-lazy-preloader"></div>
                        <div class="directions-slider__title">Герметизация</div>
                    </a>
                    <a href="#" class="swiper-slide directions-slider__item">
                        <img class="directions-slider__img" src="/src/assets/img/image16.webp" loading="lazy" alt="Image">
                        <div class="swiper-lazy-preloader"></div>
                        <div class="directions-slider__title">Восстановление и защита</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}