<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<div class="footer__column">
				<a href="/" class="footer__logo">
					<img class="logo" src="/src/assets/img/svg/main-logo.svg" loading="lazy" alt="Logo">
				</a>
				<img class="footer__logo2" src="/src/assets/img/svg/logo.svg" loading="lazy" alt="Logo">
			</div>
			<div class="footer__column">
				<div class="footer__label">О&nbsp;компании</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Новости</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Торговые марки</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Вакансии</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Обучение</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Сотрудничество</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Подрядсики</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Рабберфлекс ® RX</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<div class="footer__label">Работы</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Поиск протечек</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Проектирование</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Устройство бетонных полов</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Подзменая гидроизоляция</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Герметизация</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Полимерные полы</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Гидроизоляция кровель</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Инъектирование</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Генподряд</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Гидротехника</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<div class="footer__label">Услуги</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Материалы</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Оборудование</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Аренда и сервис</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<div class="footer__button btn btn--primary">Обратный звонок</div>

				<div class="footer__contacts">
					<a class="footer__contacts-item email" href="#">
						<svg>
							<use href="/src/assets/img/svg-sprite/sprite.svg#email"></use>
						</svg>
						<span>shop@stroy-magazin.ru</span>
					</a>
					<a class="footer__contacts-item" href="#">
						<svg>
							<use href="/src/assets/img/svg-sprite/sprite.svg#phone"></use>
						</svg>
						<span>+7 (495) 225-16-27</span>
					</a>
				</div>

				<div class="footer__address">
					<svg>
						<use href="/src/assets/img/svg-sprite/sprite.svg#loc"></use>
					</svg>
					<span>Москва, Университетский проспект 5</span>
				</div>

				<ul class="footer__socials socials socials--large">
					<li class="socials__item">
						<a class="socials__link" href="#">
							<svg>
								<use href="/src/assets/img/svg-sprite/sprite.svg#whatsapp"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a class="socials__link" href="#">
							<svg>
								<use href="/src/assets/img/svg-sprite/sprite.svg#telegram"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a class="socials__link" href="#">
							<svg>
								<use href="/src/assets/img/svg-sprite/sprite.svg#vk"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a class="socials__link" href="#">
							<svg>
								<use href="/src/assets/img/svg-sprite/sprite.svg#youtube"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a class="socials__link" href="#">
							<svg>
								<use href="/src/assets/img/svg-sprite/sprite.svg#dzen"></use>
							</svg>
						</a>
					</li>
				</ul>

				<div class="footer__search-box search-box">
					<input type="text" class="search-box__input" placeholder="Поиск" name="q">
					<button type="submit" class="search-box__submit">
						<svg>
							<use href="/src/assets/img/svg-sprite/sprite.svg#search"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__bottom">
		<div class="container footer__bottom-flex">
			<div class="footer__copyright">2010 – 2025 © stroy-magazin.ru <br>Все права защищены</div>

			<a class="footer__bottom-link" href="#">Политика обработки персональных данных</a>

			<a class="footer__bottom-link" href="#">Согласие на обработку данных клиентской поддержки в чатах</a>
		</div>
	</div>
</footer>