<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<div class="footer__column">
				<a href="/" class="footer__logo">
					<img class="logo" src="/src/assets/img/svg/main-logo.svg" loading="lazy" alt="Logo">
				</a>
				<img class="footer__logo2" src="/src/assets/img/svg/logo.svg" loading="lazy" alt="Logo">
			</div>
			<div class="footer__column">
				<div class="footer__label">О компании</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Новости</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Торговые марки</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Вакансии</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Обучение</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Сотрудничество</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Подрядсики</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Рабберфлекс ® RX</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<div class="footer__label">Работы</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Поиск протечек</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Проектирование</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Устройство бетонных полов</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Подзменая гидроизоляция</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Герметизация</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Полимерные полы</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Гидроизоляция кровель</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Инъектирование</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Генподряд</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Гидротехника</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<div class="footer__label">Услуги</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Материалы</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Оборудование</a>
					</li>
					<li class="footer__list-item">
						<a class="footer__list-link" href="#">Аренда и сервис</a>
					</li>
				</ul>
			</div>
			<div class="footer__column">
				<div class="footer__button btn btn--primary">Обратный звонок</div>
			</div>
		</div>
	</div>
</footer>