<header class="header">
	<div class="container">
		<div class="header__content">
			<a href="/" class="header__logo logo">
				{# <img src="img/svg/logo.svg" alt="Logo"> #}
			</a>

			<div class="menu-toggle">
				<div class="menu-toggle__line"></div>
				<div class="menu-toggle__line"></div>
				<div class="menu-toggle__line"></div>
			</div>

			<ul class="header__menu menu">
				{% for li in menu %}
				{% if li.submenu.length > 0 %}
				<li class="menu__item menu__item--has-submenu">
					<span class="menu__link">{{li.item}}</span>
					<svg class="menu__arrow">
						<use href="img/sprites/sprite.svg#arrow"></use>
					</svg>
					<ul class="menu__submenu">
						{% for subli in li.submenu %}
						<li class="menu__submenu-item">
							<a class="menu__submenu-link" href="#">{{subli}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li class="menu__item">
					<a class="menu__link" href="#">{{li.item}}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>

		</div>
	</div>
	{# <div class="header__mobile-menu mobile-menu">
		<ul>
			<li><a href="#"></a></li>
		</ul>
	</div> #}
</header>