@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../assets/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../assets/fonts/Gilroy-ExtraBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../assets/fonts/Gilroy-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../assets/fonts/Gilroy-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../assets/fonts/Gilroy-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../assets/fonts/Gilroy-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

