.footer {
    padding: slamp(r(80), r(100)) 0 0;
    background: var(--bg);

    &__row {
        display: grid;
        grid-template-columns: slamp(r(200), r(300), $lg, $xl) repeat(3, minmax(0, 1fr)) slamp(r(260), r(356), $md, $xl);
        gap: slamp(r(32), r(70));

        @include media('<md') {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include media('<xs') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &__column {
        @include media('<md') {
            &:nth-child(1) {
                order: 1;
            }

            &:nth-child(2) {
                order: 3;
                grid-column: 1 / 2;
            }
        
            &:nth-child(3) {
                order: 4;
            }

            &:nth-child(4) {
                order: 5;
            }
            
            &:nth-child(5) {
                order: 2;
                grid-column: 2 / 4;
            }
        }

        @include media('<xs') {
            &:nth-child(1), &:nth-child(5) {
                grid-column: 1 / 3;
            }

            &:nth-child(2), &:nth-child(4) {
                order: 2;
            }

            &:nth-child(3) {
                grid-column: 1 / 4;
            }

            &:nth-child(5) {
                order: 1;
            }
        }
    }

    &__label {
        font-size: slamp(r(20), r(24));
        font-weight: 600;
        line-height: 120%;
    }

    &__logo {
        img {
            max-width: slamp(r(198), r(300));
            width: 100%;
            height: auto;
        }
    }

    &__logo2 {
        margin: r(24) 0 0;
        max-width: r(198);
        width: 100%;
        height: auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: slamp(r(8), r(16));
        margin: slamp(r(16), r(24)) 0 0;

        &-link {
            text-decoration: none;
            font-size: slamp(r(14), r(16));
            line-height: 120%;
            color: var(--gray);
            opacity: .6;
            transition: .3s;

            &:hover {
                color: var(--hover);
                opacity: 1;
            }
        }
    }

    &__button {
        width: max-content;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: r(24);
        margin: slamp(r(24), r(40)) 0 0;

        &-item {
            display: flex;
            align-items: center;
            gap: r(12);
            color: var(--text);
            font-weight: 600;
            font-size: slamp(r(20), r(24));
            line-height: 120%;
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: var(--hover);
            }

            svg {
                @include sprite-size(r(16), r(16));
            }

            &.email {
                svg {
                    transform: translateY(r(3));
                }
            }
        }
    }

    &__address {
        display: flex;
        gap: r(12);
        margin: slamp(r(24), r(40)) 0 0;
        color: var(--gray-text);
        font-weight: 400;
        font-size: slamp(r(16), r(20));
        line-height: 120%;
        text-decoration: none;
        
        svg {
            @include sprite-size(r(16), r(16));
            transform: translateY(r(4));
        }
    }

    &__socials, &__search-box {
        margin: slamp(r(24), r(40)) 0 0;
    }

    &__search-box {
        width: 100%;

        .search-box__input {
            width: 100%;
        }
    }

    &__bottom {
        margin: r(40) 0 0;
        padding: r(40) 0;
        background: var(--white);
        font-size: slamp(r(12), r(16));
        line-height: 140%;

        &-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: r(12) r(20);

            @include media('<sm') {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-link {
            text-decoration: none;
            color: var(--gray);
            opacity: .6;
            transition: .3s;

            &:hover {
                color: var(--hover);
                opacity: 1;
            }
        }
    }

    &__copyright {
        flex-shrink: 0;
        color: var(--gray);
        opacity: .6;
    }
}