.footer {
    padding: slamp(r(80), r(100)) 0 r(40);
    background: var(--bg);

    &__row {
        display: grid;
        grid-template-columns: r(300) repeat(3, minmax(0, 1fr)) r(356);
        gap: slamp(r(32), r(70));
    }

    &__label {
        font-size: slamp(r(20), r(24));
        font-weight: 600;
        line-height: 120%;
    }

    &__logo {
        img {
            max-width: r(300);
            width: 100%;
            height: auto;
        }
    }

    &__logo2 {
        margin: r(24) 0 0;
        max-width: r(198);
        width: 100%;
        height: auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: slamp(r(10), r(16));
        margin: slamp(r(16), r(24)) 0 0;

        &-link {
            text-decoration: none;
            font-size: slamp(r(14), r(16));
            line-height: 120%;
            color: var(--gray);
            opacity: .6;
            transition: .3s;

            &:hover {
                color: var(--hover);
                opacity: 1;
            }
        }
    }

    &__button {
        width: max-content;
    }
}