.header {
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 0 2.4rem;
    }
}

.logo {
    max-width: slamp(9.5rem, 17.7rem);

    img {
        max-width: 100%;
        height: auto;
    }
}

.menu {
    display: flex;
    gap: 0 slamp(1.6rem, 2.4rem);

    &__item {
        position: relative;
        cursor: pointer;

        &--has-submenu {
            display: flex;
            align-items: center;
            gap: 0 .8rem;

            &:hover {
                .menu__submenu {
                    opacity: 1;
                    transform: scaleY(1);

                    .menu__submenu-item {
                        opacity: 1;
                    }
                }

                .menu__arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__link {
        color: var(--text);
        text-decoration: none;
    }

    &__arrow {
        display: flex;
        align-items: center;
        margin-top: 3px;
        transition: .3s;
        @include sprite-size(12px, 6px);

        use {
            stroke: var(--text);
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }

    &__submenu {
        position: absolute;
        top: calc(100% + 15px);
        left: 0;
        width: max-content;
        max-width: 360px;
        padding: 1.6rem 1.2rem;
        border-radius: 6px;
        background: var(--white);
        box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.10);
        z-index: 600;
        opacity: 0;
        cursor: default;
        transition: opacity .3s;
        transform: scaleY(0);

        &::after {
            content: '';
            position: absolute;
            top: -15px;
            left: 0;
            right: 0;
            height: 15px;
            z-index: 650;
        }

        &-item {
            margin: 0 0 1.2rem;

            &:last-of-type {
                margin: 0;
            }
        }

        &-link {
            line-height: 135%;
            color: var(--text);
            text-decoration: none;
            transition: .25s;

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.search-toggle {
    cursor: pointer;

    svg {
        @include sprite-size(32px, 32px);

        use {
            stroke: var(--text);
            stroke-width: 1.5;
        }
    }
}

.menu-toggle {
    display: none;
}