.header {
    position: relative;

    &::after {
        display: none;
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        width: 100%;
        z-index: 990;
        background: rgba(0, 0, 0, 0.10);
        opacity: 0;
        backdrop-filter: blur(5px);
        transition: opacity .3s;

        @include media('<md') {
            display: block;
        }
    }

    &--blur {
        &::after {
            opacity: 1;
            left: 0;
        }
    }

    .container {
        @include media('<md') {
            padding: 0;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        gap: r(24);
        padding: slamp(r(10), r(20)) 0 slamp(r(10), r(16));

        @include media('<md') {
            padding-left: r(15);
            padding-right: r(15);
            background: var(--white);
            margin-bottom: slamp(r(10), r(16));
        }

        &-right {
            display: flex;
            align-items: center;
            gap: r(24);
            margin-left: auto;

            @include media('<md') {
                width: 100%;
                justify-content: space-between;
            }
        }

        &-categories.header-categories {
            @include media('<md') {
                display: none;
            }
        }

        &-socials.socials {
            @include media('<md') {
                display: none;
            }
        }

        &-contacts.header-contacts {
            display: none;

            @include media('<md') {
                display: flex;
                flex-shrink: 0;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 0 r(90);

        @include media('<1024px') {
            gap: 0 slamp(r(16), r(40), $xs, $md);
        }

        @include media('<md') {
            padding-left: r(15);
            padding-right: r(15);
        }

        &-right {
            display: flex;
            gap: slamp(r(24), r(40));
            margin-left: auto;
        }
    }

    &__contacts.header-contacts {
        @include media('<md') {
            display: none;
        }
    }

    &__logo {
        .logo {
            max-width: slamp(r(153), r(305), $xs, $md);
        }
    }

    &__button {
        flex-shrink: 0;

        @include media('<sm') {
            display: none;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: r(20);
    }

    &__user, &__cart, &__wishlist {
        display: flex;
        align-items: center;
        justify-content: center;
        filter: grayscale(1) contrast(3);
        transition: .3s;

        &:hover {
            filter: none;
        }
        
        svg {
            @include sprite-size(r(20), r(18));
        }
    }

    &__menu-wrapper {
        display: flex;
        align-items: center;
        height: r(86);
        margin: slamp(r(10), r(16)) 0 0;
        padding: r(16) 0;
        border-radius: r(4);
        background: linear-gradient(180deg, #0180ba 0%, #006c9d 100%);

        @include media('<md') {
            // height: r(44);
            // padding: r(10);
            // border-radius: 0;
            display: none;
        }
    }

    &__menu-categories.header-categories {
        display: none;

        @include media('<md') {
            display: flex;
        }
    }

    &__menu.menu {
        @include media('<md') {
            display: none;
        }
    }

    &__mobile-menu {
        display: none;

        @include media('<md') {
            display: flex;
        }
    }
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: r(3) slamp(r(16), r(40));

    @include media('<lg') {
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: r(8);
        color: var(--text);
        font-weight: 600;
        font-size: slamp(r(14), r(16));
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: var(--hover);
        }

        svg {
            @include sprite-size(r(13), r(13));
        }
    }
}

.logo {
    max-width: slamp(r(130), r(198), $xs, $md);
    width: 100%;
    height: auto;
    object-fit: contain;
}

.socials {
    display: flex;
    align-items: center;
    gap: r(8);

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: r(28);
        height: r(28);
        border-radius: r(4);
        background: var(--blue);
        transition: .3s;

        &:hover {
            background: var(--hover);
        }
        
        svg {
            @include sprite-size(r(16), r(16));

            use {
                fill: var(--white);
            }
        }
    }

    &--large &__link {
        width: slamp(r(32), r(40));
        height: slamp(r(32), r(40));

        svg {
            @include sprite-size(r(18), r(18));
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:last-of-type .menu__link::before {
            display: none;
        }

        &--has-submenu {
            display: flex;
            align-items: center;
            gap: 0 .8rem;

            &:hover {
                .menu__submenu {
                    opacity: 1;
                    transform: scaleY(1);

                    .menu__submenu-item {
                        opacity: 1;
                    }
                }

                .menu__arrow {
                    transform: scaleY(-1);
                }
            }
        }
    }

    &__submenu {
        position: absolute;
        top: calc(100% + r(22));
        left: 0;
        width: max-content;
        max-width: r(360);
        min-width: r(200);
        padding: r(16) r(12);
        border-radius: r(6);
        background: linear-gradient(180deg, #0180ba 0%, #006c9d 100%);
        box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.10);
        z-index: 600;
        opacity: 0;
        cursor: default;
        transition: opacity .3s;
        transform: scaleY(0);

        &::after {
            content: '';
            position: absolute;
            top: r(-25);
            left: 0;
            right: 0;
            height: r(25);
            z-index: 650;
        }

        &-item {
            border-bottom: 1px solid rgba(204, 226, 237, .18);

            &:last-of-type {
                border: 0;

                .menu {
                    &__submenu {
                        &-link {
                            padding-bottom: 0;
                        }
                    }
                }
            }

            &:first-of-type {
                .menu {
                    &__submenu {
                        &-link {
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        &-link {
            display: block;
            padding: r(8) 0;
            line-height: 135%;
            color: var(--accent);
            text-decoration: none;
            transition: .25s;

            &:hover {
                color: var(--white);
            }
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        margin-top: r(3);
        transition: .3s;
        @include sprite-size(12px, 8px);

        use {
            stroke: var(--accent);
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        gap: r(4);
        padding: r(16) slamp(r(12), r(20), $lg, $xl);
        text-transform: uppercase;
        color: var(--accent);
        font-size: slamp(r(12), r(16), $md, $xl);
        line-height: 120%;
        white-space: nowrap;
        text-align: center;
        text-decoration: none;
        transition: .3s;

        @include media('<lg') {
            white-space: wrap;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: auto;
            height: r(54);
            border: 1px solid var(--accent);
            border-radius: r(4);
            opacity: .18;
        }

        &:hover {
            color: var(--white);
        }
    }
}

.top-menu {
    display: flex;
    align-items: center;
    gap: slamp(r(16), r(24));

    &__link {
        text-decoration: none;
        color: var(--gray);
        white-space: nowrap;
        transition: .3s;

        &:hover {
            color: var(--hover);
        }
    }

    @include media('<md') {
        display: none;
    }
}

.header-categories {
    display: flex;
    align-items: center;
    gap: slamp(r(10), r(16));

    &__item {
        display: flex;
        padding: r(4) r(10);
        line-height: 140%;
        text-decoration: none;
        color: var(--white);
        font-size: slamp(r(14), r(16));
        border-radius: r(4);
        background: var(--primary);
        transition: .3s;

        @include media('>=md') {
            &:hover {
                background: var(--hover);
            }
        }

        @include media('<md') {
            font-size: r(16);
        }
    }

    @include media('<md') {
        flex-wrap: wrap;
    }
}

.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    width: r(40);
    height: r(40);
    border-radius: r(4);
    background: var(--primary);
    cursor: pointer;

    svg {
        @include sprite-size(r(20), r(12));

        use {
            fill: var(--white);
        }
    }

    @include media('<md') {
        display: flex;
    }
}

.mobile-menu {
    overflow: auto;
    overscroll-behavior: none;
    flex-direction: column;
    justify-content: space-between;
    gap: r(32);
    position: fixed;
    top: 0;
    left: calc(slamp(r(360), r(400)) * -1);
    bottom: 0;
    height: calc(100vh - r(20));
    padding: r(50) r(30) r(30) r(30);
    width: slamp(r(360), r(400));
    color: var(--text);
    background: var(--white);
    border-radius: r(4);
    z-index: 999;
    opacity: 0;
    transition: .3s;
    @include noscroll;

    @include media('<xxs') {
        width: calc(100% - r(20));
    }

    &--opened {
        top: r(10);
        left: r(10);
        bottom: r(10);
        opacity: 1;
    }

    &__close {
        position: absolute;
        top: r(20);
        right: r(20);

        svg {
            @include sprite-size(r(30), r(30));

            use {
                fill: var(--text);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;

        &-item {
            position: relative;
            border-bottom: 1px solid var(--border);

            &.opened {
                .mobile-menu__list {
                    &__arrow {
                        svg {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        &-head {
            display: flex;
            align-items: center;
            gap: r(12);
        }

        &-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: r(28);
            height: r(26);
            border-radius: r(4);
            transition: .3s;
            background: var(--primary);
            
            svg {
                @include sprite-size(12px, 12px);
            }
        
            use {
                stroke: var(--white);
                stroke-width: 1.5;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }

        &-submenu {
            display: none;
            will-change: height;
            padding-top: r(4);
            padding-bottom: r(16);
            flex-direction: column;
            gap: r(10);

            &-link {
                text-decoration: none;
                color: var(--text);
                text-transform: uppercase;
            }
        }
        
        &-link {
            display: block;
            padding: r(12) 0;
            font-size: slamp(r(18), r(24), $xs, $md);
            line-height: 110%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: currentColor;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        // gap: r(20);

        &-label {
            font-weight: 600;
            margin: 0 0 r(12);
        }
    }

    &__button {
        max-width: 100%;
        width: 100%;
        margin-top: r(24);
    }
}