.header {
    position: relative;

    &::after {
        display: none;
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        width: 100%;
        z-index: 990;
        background: rgba(0, 0, 0, 0.10);
        opacity: 0;
        backdrop-filter: blur(5px);
        transition: opacity .3s;

        @include media('<sm') {
            display: block;
        }
    }

    &--blur {
        &::after {
            opacity: 1;
            left: 0;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 0 r(24);
    }

    &__menu.menu {
        @include media('<sm') {
            display: none;
        }
    }

    &__mobile-menu {
        display: none;

        @include media('<sm') {
            display: flex;
        }
    }
}

.logo {
    max-width: r(180);

    img {
        max-width: 100%;
        height: auto;
    }
}

.menu {
    display: flex;
    gap: 0 slamp(r(16), r(24));

    &__item {
        position: relative;
        cursor: pointer;

        &--has-submenu {
            display: flex;
            align-items: center;
            gap: 0 .8rem;

            &:hover {
                .menu__submenu {
                    opacity: 1;
                    transform: scaleY(1);

                    .menu__submenu-item {
                        opacity: 1;
                    }
                }

                .menu__arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__link {
        color: var(--text);
        text-decoration: none;
    }

    &__arrow {
        display: flex;
        align-items: center;
        margin-top: r(3);
        transition: .3s;
        @include sprite-size(12px, 6px);

        use {
            stroke: var(--text);
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }

    &__submenu {
        position: absolute;
        top: calc(100% + r(15));
        left: 0;
        width: max-content;
        max-width: r(360);
        padding: r(16) r(12);
        border-radius: r(6);
        background: var(--white);
        box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.10);
        z-index: 600;
        opacity: 0;
        cursor: default;
        transition: opacity .3s;
        transform: scaleY(0);

        &::after {
            content: '';
            position: absolute;
            top: r(-15);
            left: 0;
            right: 0;
            height: r(15);
            z-index: 650;
        }

        &-item {
            margin: 0 0 r(12);

            &:last-of-type {
                margin: 0;
            }
        }

        &-link {
            line-height: 135%;
            color: var(--text);
            text-decoration: none;
            transition: .25s;

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    width: r(40);
    height: r(40);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    cursor: pointer;

    svg {
        @include sprite-size(r(20), r(9));

        use {
            fill: var(--text);
        }
    }

    @include media('<sm') {
        display: flex;
    }
}

.mobile-menu {
    overflow: auto;
    overscroll-behavior: none;
    flex-direction: column;
    justify-content: space-between;
    gap: r(16);
    position: fixed;
    top: 0;
    left: calc(slamp(r(360), r(400)) * -1);
    bottom: 0;
    height: calc(100vh - r(20));
    padding: r(60) 0 r(60) r(40);
    width: slamp(r(360), r(400));
    color: var(--text);
    background: var(--white);
    border-radius: r(20);
    z-index: 999;
    opacity: 0;
    transition: .3s;
    @include noscroll;

    @include media('<xxs') {
        width: calc(100% - r(20));
    }

    &--opened {
        top: r(10);
        left: r(10);
        bottom: r(10);
        opacity: 1;
    }

    &__close {
        position: absolute;
        top: r(20);
        right: r(20);

        svg {
            @include sprite-size(r(30), r(30));

            use {
                fill: var(--text);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: r(25);
        margin: 0;

        &-item {
            position: relative;
        }

        &-link {
            display: block;
            @include font(r(35));
            line-height: 110%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: currentColor;
            text-decoration: none;
            cursor: pointer;
        }
    }
}