.title {
    position: relative;
    display: inline-block;

    h1,
    h2 {
        display: inline-block;
        font-size: slamp(r(32), r(56));
        font-weight: 600;
        line-height: 110%;
        hyphens: manual;
    }

    &--small {
        h2 {
            font-size: slamp(r(28), r(40));
        }
    }
}

.txt {
    @include font(1.4rem, 1.6rem);
    hyphens: manual;
}

.input,
.textarea {
    display: block;
    width: 100%;
    padding: 1.4rem 1.2rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: r(4);
    font-size: slamp(r(14), r(16));
    color: var(--text);
    background: var(--bg);
    box-shadow: none;
    transition: border .3s;

    &::placeholder {
        color: var(--gray-text);
    }

    &:focus {
        border-color: var(--border);
    }

    &.error:not(&:focus) {
        color: var(--error);
        border-color: var(--error);

        &::placeholder {
            color: var(--error);
        }
    }
}

.textarea {
    min-height: 16rem;
    resize: none;
}

.field {
    margin: 0 0 r(16);

    &:last-of-type {
        margin-bottom: 0;
    }

    &--flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: r(24);
    }
}

.head-page {
    margin: r(20) 0 r(20);

    @include media('<md') {
        margin-top: r(16);
        margin-bottom: r(32);
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: r(32) r(20);

        @include media('<md') {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.search-box {
    display: flex;
    align-items: center;

    @include media('<md') {
        order: 1;
        width: 100%;
    }

    &__input {
        width: r(162);
        height: slamp(r(39), r(48));
        border-radius: r(4) 0 0 r(4);
        border: 1px solid transparent;
        font-size: r(16);
        padding-left: r(16);
        transition: border .3s;

        &:focus {
            outline: none;
            border-color: var(--primary);
        }

        @include media('<md') {
            width: 100%;
        }
    }

    &__submit {
        width: slamp(r(39), r(48));
        height: slamp(r(39), r(48));
        flex-shrink: 0;
        cursor: pointer;
        border-radius: 0 r(4) r(4) 0;
        border: 0;
        outline: none;
        box-shadow: none;
        background: var(--primary);
        transition: .3s;

        &:hover {
            background: var(--hover);
        }

        svg {
            @include sprite-size(r(18), r(18));
        }
    }
}

.slide-down {
    &.opened {
        .slide-down {
            &__arrow {
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__content {
        display: none;
        will-change: height;
    }
}

.tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: slamp(r(10), r(20));

    &__item {
        font-size: slamp(r(16), r(24));
        font-weight: 600;
        line-height: 120%;
        border: 1px solid var(--gray-text);
        border-radius: r(4);
        cursor: pointer;
        color: var(--text);
        background: transparent;
        transition: .3s;

        &:hover {
            border-color: var(--primary);
            color: var(--primary);
        }

        &-link {
            display: block;
            padding: slamp(r(12), r(16)) slamp(r(32), r(48));
            color: currentColor;
            text-decoration: none;
            transition: .3s;
        }

        &.active {
            border-color: var(--primary);
            background: var(--primary);
        }

        &.active &-link {
            color: var(--white);
        }
    }

    &--small &__item {
        font-size: r(16);

        &-link {
            padding: r(12);
        }
    }
}

.backlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: r(8);
    width: max-content;
    margin: r(24) 0 slamp(r(24), r(40));
    padding: r(13);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    border-radius: r(4);
    background: var(--white);
    transition: .35s;

    svg {
        @include sprite-size(r(14), r(14));
        transform: rotate(90deg);
        
        use {
            stroke: var(--text);
            transition: .35s;
        }
    }

    @include media('>=xs') {
        &:hover {
            color: var(--white);
            background: var(--primary);

            svg use {
                stroke: var(--white);
            }
        }
    }
}

.fixed-nav {
    position: fixed;
    top: 50%;
    right: r(40);
    display: flex;
    flex-direction: column;
    gap: r(10);
    transform: translateY(-50%);
    z-index: 800;
    opacity: 0;
    transition: opacity .35s;

    &.active {
        opacity: 1;
    }

    @include media('<1680px') {
        right: r(32);
    }

    @include media('<1600px') {
        display: none;
    }

    &__item {
        &-link {
            position: relative;
            display: flex;
            align-items: center;
            width: r(16);
            height: r(16);
            border-radius: 50%;
            text-decoration: none;
            color: var(--primary);
            background: var(--primary);

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: r(16);
                height: r(16);
                border-radius: 50%;
                background: var(--white);
                transform: scale(.55);
                opacity: 0;
                transition: .35s;
            }

            span {
                display: block;
                width: max-content;
                position: absolute;
                white-space: nowrap;
                line-height: 100%;
                transform: translate(calc(calc(100% + r(10)) * -1), r(-1));
                pointer-events: none;
                opacity: 0;
                transition: .35s;
                z-index: 800;
            }

            &.active {
                &::after {
                    opacity: 1;
                }
            }
        }

        &:hover &-link span {
            opacity: 1;
        }
    }
}